
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="margin-top:0px;">
            <div class="header">
                <div class="form-inline focused">
                    <strong id="title_erja" style="margin-left: 5px; margin-right: 5px;"></strong>

                    <div id="showDocBMode">
                        <select id="DocBMode" data-bind="event:{ change: $root.DocBModeChange}" style="width: 150px;"></select>
                    </div>
                    <div class="row header-dropdown m-r--5">
                        <a id="SettingColumn" class="">
                            <img src="/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-SettingColumn" data-backdrop="static" data-keyboard="false">
                        </a>
                        <a id="refreshErja" class="">
                            <img src="/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;">
                        </a>
                    </div>
                </div>

                <!-- <h2><strong id="title_erja">ارجاعات پرونده دریافتی</strong></h2>
                 <select id="DocBMode" data-bind="event:{ change: $root.DocBModeChange}"></select>-->


            </div>
            <div class="body">

                <div id="TableReport" style="height:410px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md tableFix">

                </div>
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px; margin: 5px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeDocB_Last" class="selectorange">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                            <label id="sumA"></label>
                        </div>
                    </div>


                    <div class="col-md-4" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a> <b data-bind="text: currentPageIndexDocB_Last() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-top: 10px; text-align:left;">
                        <span>تعداد رکورد ها = <span id="CountRecord">0</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="modal-ErjDocErja" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header" style="    padding-bottom: 0px;    padding-top: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">ارجاع پرونده</h4>
                <div>
                    <a id="attachFile" class="dropdown-toggle" data-toggle="modal" data-target="#modal-DocAttach" data-backdrop="static" data-keyboard="false" style="margin-left: 10px;">
                        <img src="/Content/img/list/attach_file.png" width="20" height="20">
                    </a>
                    <a id="OtherField" class="dropdown-toggle" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-OtherField" style="margin-left: 10px;">
                        <img src="/Content/img/sanad/paper-write.png" width="20" height="20">
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                            <div class="cardErj">
                                <div class="header" style="background-color: #f5d3b4;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideInformation">
                                            <img id="imgInformation" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                        </a>
                                        <h6>اطلاعات پرونده</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding:10px;">
                                    <div>

                                        <div class="row form-inline ">

                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_docno" class="form-control int" readonly />
                                                            <label class="form-label">شماره</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_DocDate" class="form-control" readonly />
                                                            <label class="form-label">تاریخ</label>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_MhltDate" class="form-control" readonly />
                                                            <label class="form-label">مهلت</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="panelInformation" class="row col-md-12">

                                                <div class="row col-md-12">



                                                    <p class="col-md-1">نوع</p>
                                                    <div class="col-md-5">
                                                        <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                                            <div class="form-group">
                                                                <select id="m_Mahramaneh" data-bind="
                                                               options: MahramanehList,
                                                               optionsText: function(item) {return item.Name},
                                                               optionsValue: 'Code'" style="font-size:11px" disabled></select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-3">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="m_Eghdam" class="form-control" readonly />
                                                                <label class="form-label" id="amounttext">اقدام</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="m_Tanzim" class="form-control" readonly>
                                                                <label class="form-label">تنظیم</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row col-md-12" style="padding-bottom:10px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_CustName" class="form-control" readonly />
                                                            <label class="form-label">مشتری</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="padding-bottom:10px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_KhdtName" class="form-control" readonly>
                                                            <label class="form-label">نوع کار</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="padding-bottom:10px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_Spec" class="form-control" />
                                                            <label class="form-label" id="amounttext">ملاحظات</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_RelatedDocs" class="form-control" readonly />
                                                            <label class="form-label">پرونده های مرتبط</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="cardErj">
                                    <div class="header" style="background-color: #f5d3b4;">


                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <a id="ShowHideSpec">
                                                <img id="imgSpec" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                            </a>
                                            <h6>توضیحات پرونده</h6>
                                        </div>


                                    </div>
                                    <div class="body" style="padding:10px;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!-- <a id="btn-eghdamComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">اقدام</a>-->
                                                        <h6 id="ShowEghdamComm" style="cursor: pointer;">اقدام</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="eghdamComm" class="form-control no-resize auto-growth string autocomplete" style="border-bottom: 1px solid #ffffff;"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!--<a id="btn-DocDesc" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">عمومی</a> -->
                                                        <h6 id="ShowDocDesc" style="cursor: pointer;">عمومی</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="docDesc" class="form-control no-resize auto-growth string autocomplete" style="border-bottom: 1px solid #ffffff;"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!-- <a id="btn-specialComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">مدیران</a>-->
                                                        <h6 id="ShowSpecialComm" style="cursor: pointer;">مدیران</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="specialComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string autocomplete"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!-- <a id="btn-finalComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">نهایی</a>-->
                                                        <h6 id="ShowFinalComm" style="cursor: pointer;">نهایی</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="finalComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string autocomplete"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="panel_Result">
                                    <div class="header" style="background-color: #f5d3b4;">
                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <a id="ShowHideResult">
                                                <img id="imgResult" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                            </a>
                                            <h6>نتیجه</h6>
                                        </div>
                                    </div>
                                    <div class="body" style="padding:10px;">

                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                            <div class="form-line">
                                                <textarea rows="1" id="Result" class="form-control no-resize auto-growth string autocomplete"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="BodyErjDocErja" style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">



                            <!--  <div style="border-top: 0px solid #fff !important;">
                                  <div>
                                      <div class="cardErj">
                                          <div class="header" style="background-color: #e37d228f;">
                                              <div class="form-inline">
                                                  <div class="col-md-9 form-inline">
                                                      <h6>1 ) سوپروایزر</h6>
                                                      <img src="~/Content/img/new item/arrow-back-svgrepo-com.svg" style="width: 14px;margin-left: 3px; margin-right: 3px;" />
                                                      <h6>حميد رضا حجازي</h6>
                                                  </div>
                                                  <div class="col-md-3 form-inline">
                                                      <h6 style="padding-left: 10px">(1:0)</h6>
                                                      <h6>1399/01/12</h6>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="body" style="padding:10px;">
                                              <p>تست </p>
                                              <p>مدیر سیستم به مهندس</p>
                                              <br>
                                              <div style="padding: 3px;margin: 0px 10px 0px 10px;background-color: #5b6775 !important;color: white;border-radius: 10px;">
                                                  <div class=" form-inline">
                                                      <h6> رونوشت به :کاربر 1 امیری</h6>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>-->


                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row  form-inline ">
                    <div class="col-md-9 row">





                        <div id="panelFooterParvandeh" class="col-md-12 row">
                            <p class="col-md-2">وضعیت ارجاع</p>
                            <div class="col-md-3">
                                <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                    <div class="form-group">
                                        <input type="text" id="m_StatusErja" class="form-control" />
                                        <!-- <select id="m_StatusErja" style="font-size:11px"></select>-->
                                    </div>
                                </div>
                            </div>

                            <p class="col-md-2">وضعیت پرونده</p>
                            <div class="col-md-3">
                                <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                    <div class="form-group">
                                        <select id="m_StatusParvandeh" data-bind="
                                   options: ErjStatusList,
                                   optionsText: function(item) {return item.Status},
                                   optionsValue: 'Status'"></select>
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div id="panelFooterRonevesht" class="col-sm-12 row" style="padding-top: 12px;">

                            <div class="col-sm-2">
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="p_SaptDate" class="form-control date" type="text" maxlength="10" readonly>
                                        <label class="form-label" for="">تاریخ ثبت</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group form-float">
                                    <div class="form-line fix">
                                        <input id="p_RjTime_M" class="form-control int" style="margin-bottom: 0px;" />
                                        <label class="form-label active">دقیقه</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group form-float">
                                    <div class="form-line fix">
                                        <input id="p_RjTime_H" class="form-control int fix" style="margin-bottom: 0px;" />
                                        <label class="form-label active">ساعت</label>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="col-md-3">
                        <button type="button" id="erja" class="btn btn-primary  pull-left dropdown-toggle" data-toggle="modal" data-target="#modal-Erja" data-backdrop="static" data-keyboard="false"><i class="fa fa-sign-in fa-lg fa-fw"></i>ارجاع</button>
                        <button type="button" id="saveParvandeh" class="btn btn-primary  pull-left" style=" margin-left: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i>ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-DocAttach" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پیوست</h4>

                <div>
                    <a id="refreshDocAttach">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                    </a>
                    <input id="upload" type="file" style="display:none" data-bind="event: {change: $root.fileUpload}" />
                    <a id="AddNewDocAttach">
                        <img src="/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20">
                    </a>
                </div>


            </div>
            <div class="modal-body">
                <br />
                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFixList">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableDocAttach">
                                <th style="width: 10px;">ردیف</th>
                                <th data-column="Comm" style="text-align: center;">
                                    شرح
                                    <span data-bind="attr: { class: currentColumn() == 'Comm' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeComm }"></i>
                                    </span>
                                </th>
                                <th style="width:1px;"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageDocAttach" style="cursor: default;">
                            <tr>
                                <td data-bind="text: BandNo" style="background-color: #d9d9d9;"></td>
                                <td data-bind="text: Comm"></td>
                                <td>
                                    <a data-bind="click: $root.selectDocAttach">
                                        <img src="/Content/img/list/download.png" width="20" height="20" style="margin-left:10px" />
                                    </a>

                                    <a id="DeleteDocAttach" data-bind="click: $root.DeleteDocAttach">
                                        <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399">
                                <td>جستجو</td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterDocAttach0, valueUpdate: 'afterkeydown'" type="text" class="form-control " style="height: 2.4rem;" /> </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeDocAttach">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexDocAttach() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<div class="modal fade" id="modal-Erja" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab" style="width:980px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleSaveErja"></h4>
                <a></a>
            </div>




            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 0.5rem;">


                    <div class="cardErj">
                        <div class="header" style="background-color: #f5d3b4;">
                            <div class="row form-inline modal-header" style="padding:0px;">
                                <h6>متن ارجاعی از شما</h6>
                            </div>
                        </div>
                        <div class="body" style="padding:10px;">

                            <div class="form-group" style="margin-bottom: 0.5rem;">
                                <div class="form-line">
                                    <textarea rows="25" id="e_Result" class="form-control no-resize auto-growth string"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="row  form-inline ">
                    <div class="col-md-12 row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnFarayand" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Farayand" data-backdrop="static" data-keyboard="false">
                                        <img src="/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameFarayand" class="form-control" readonly />
                                        <label class="form-label">فرایند</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnErjCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjBe" data-backdrop="static" data-keyboard="false">
                                        <img src="~/Content/img/list/man.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameErjBe" class="form-control" readonly />
                                        <label class="form-label"> ارجاع به</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnErjCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjUsersRonevesht" data-backdrop="static" data-keyboard="false">
                                        <img src="~/Content/img/list/man.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameRoneveshtBe" class="form-control" readonly />
                                        <label class="form-label"> رو نوشت به</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 row" style="margin-left: 0px;margin-right: 0px;">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnRjMhltDate">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="RjMhltDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">مهلت ارجاع</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <p>زمان صرف شده</p> -->
                            <div class="col-sm-3">
                                <div class="form-group form-float">
                                    <div class="form-line fix">
                                        <input id="RjTime_M" class="form-control int" />
                                        <label class="form-label active">دقیقه</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group form-float">
                                    <div class="form-line fix">
                                        <input id="RjTime_H" class="form-control int fix" />
                                        <label class="form-label active">ساعت</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 pull-left">
                            <button type="button" id="saveErja" class="btn btn-primary  pull-left"><i class="fa fa-sign-in fa-lg fa-fw"></i>ثبت ارجاع</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-ErjBe" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست کاربران</h4>
                <a id="refreshErjUsers">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <br />
                <div style="height:420px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFixList">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableErjUsers">
                                <th data-column="Code">
                                    کد
                                    <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeCode }"></i>
                                    </span>
                                </th>
                                <th data-column="SortName">
                                    نام
                                    <span data-bind="attr: { class: currentColumn() == 'SortName' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeName }"></i>
                                    </span>
                                </th>
                                <th data-column="Spec">
                                    ملاحظات
                                    <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeSpec }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageErjUsers" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind="click: $parent.selectErjUsers">
                                <td data-bind="text: Code"></td>
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Spec"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;">
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsers0, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsers1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsers2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeErjUsers">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexErjUsers() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="modal fade" id="modal-ErjUsersRonevesht" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست کاربران</h4>
                <a id="refreshErjUsersRonevesht">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped tableFixList">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableErjUsersRonevesht">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="SortName">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'SortName' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageErjUsersRonevesht" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddErjUsersRonevesht }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsersRonevesht0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsersRonevesht1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsersRonevesht2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="row centered">
                                    <div style="height:160px; width:20px"></div>
                                    <a data-bind="click: AddAllErjUsersRonevesht" style="height:18px;padding-right: 3px;">
                                        <img src="/Content/img/list/streamline-icon-navigation-last.png" style="width:22px;height:18px;" />
                                    </a>
                                    <div style="height:80px"></div>
                                    <a data-bind="click: DelAllErjUsersRonevesht" style="height:18px;padding-right: 3px;">
                                        <img src="/Content/img/list/streamline-icon-navigation-first.png" style="width:22px;height:18px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-11">

                                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                                    <table class="table table-hover table-striped tableFixList" id="TableSelectedErjUsersRonevesht">
                                        <thead style="cursor: pointer;">
                                            <tr>
                                                <th>کد</th>
                                                <th>نام</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TableBodyListErjUsersRonevesht" style="cursor: default;"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-inline">
                                    <label>نمایش</label>
                                    <div class="form-group" style="text-align: center; width: 50px;">
                                        <select id="pageSizeSelector" data-bind="value: pageSizeErjUsersRonevesht">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                            <option value="60">60</option>
                                            <option value="70">70</option>
                                            <option value="80">80</option>
                                            <option value="90">90</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <label>رکورد</label>
                                </div>
                            </div>
                            <div class="col-md-8" style="text-align: left;">

                                <a data-bind="click: firstPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                                </a>
                                <a data-bind="click: previousPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                                </a>
                                <b data-bind="text: currentPageIndexErjUsersRonevesht() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                                <a data-bind="click: nextPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                                </a>
                                <a data-bind="click: lastPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: left;">
                        <button type="button" id="lastRonevesht" class="btn btn-primary  pull-left" style="font-size: 10px;padding-right: 10px;padding-left: 10px;display:none">همان افراد قبل</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="modal-Farayand" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست فرایندها</h4>
                <a id="refreshFarayand">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <br />
                <div style="height:420px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFixList">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableFarayand">
                                <th data-column="Code">
                                    کد
                                    <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeCode }"></i>
                                    </span>
                                </th>
                                <th data-column="Name">
                                    نام
                                    <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeName }"></i>
                                    </span>
                                </th>
                                <th data-column="Spec">
                                    ملاحظات
                                    <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeSpec }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageFarayand" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind="click: $parent.selectFarayand">
                                <td data-bind="text: Code"></td>
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Spec"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;">
                                <td style="padding: 0px 3px;"><input data-bind="value: filterFarayand0, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterFarayand1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterFarayand2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeFarayand">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageFarayand">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageFarayand">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexFarayand() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageFarayand">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageFarayand">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>








<!--<div class="modal fade" id="modal-Comm" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="padding-left: 200px;">توضیحات</h4>
            </div>
            <div class="modal-body">
                <textarea id="comm" rows="20" class="form-control no-resize auto-growth string" style="text-align:justify" readonly>
                </textarea>
            </div>
        </div>
    </div>
</div>-->

<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="modal fade" id="modal-AddParvandeh" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پرونده</h4>
                <a id="refreshErjCust">

                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <div style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                            <div class="cardErj">
                                <div class="header" style="background-color: #f5d3b4;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideInformation">
                                            <img id="imgInformation" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                        </a>
                                        <h6>اطلاعت پرونده</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding:10px;">
                                    <div>

                                        <div class="row form-inline ">

                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_docno" class="form-control int" />
                                                            <label class="form-label">شماره</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_DocDate" class="form-control" />
                                                            <label class="form-label">تاریخ</label>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_MhltDate" class="form-control" />
                                                            <label class="form-label">مهلت</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="panelInformation" class="row col-md-12">

                                                <div class="row col-md-12">



                                                    <p class="col-md-1">نوع</p>
                                                    <div class="col-md-5">
                                                        <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                                            <div class="form-group">
                                                                <select id="m_Mahramaneh" data-bind="
                                                               options: MahramanehList,
                                                               optionsText: function(item) {return item.Name},
                                                               optionsValue: 'Code'" style="font-size:11px"></select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-3">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="m_Eghdam" class="form-control" />
                                                                <label class="form-label" id="amounttext">اقدام</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="m_Tanzim" class="form-control">
                                                                <label class="form-label">تنظیم</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row col-md-12" style="padding-bottom:20px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_CustName" class="form-control" />
                                                            <label class="form-label">مشتری</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="padding-bottom:20px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_KhdtName" class="form-control" />
                                                            <label class="form-label">نوع کار</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="padding-bottom:20px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_Spec" class="form-control" />
                                                            <label class="form-label" id="amounttext">ملاحظات</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_RelatedDocs" class="form-control" />
                                                            <label class="form-label">پرونده های مرتبط</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="cardErj">
                                    <div class="header" style="background-color: #f5d3b4;">


                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <a id="ShowHideSpec">
                                                <img id="imgSpec" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                            </a>
                                            <h6>توضیحات پرونده</h6>
                                        </div>


                                    </div>
                                    <div class="body" style="padding:10px;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <h6 id="ShowHideEghdamComm" style="cursor: pointer;">اقدام</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="eghdamComm" class="form-control no-resize auto-growth string" style="border-bottom: 1px solid #ffffff;"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <h6 id="ShowHideDocDesc" style="cursor: pointer;">عمومی</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="docDesc" class="form-control no-resize auto-growth string" style="border-bottom: 1px solid #ffffff;"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 10px;">
                                                        <h6 id="ShowHideSpecialComm" style="cursor: pointer;">مدیران</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="specialComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <h6 id="ShowHideFinalComm" style="cursor: pointer;">نهایی</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="finalComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="BodyErjDocErja" style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row  form-inline ">
                    <div class="col-md-6 row">

                    </div>

                    <div class="col-md-6">
                        <button type="button" id="erja" class="btn btn-primary  pull-left dropdown-toggle" data-toggle="modal" data-target="#modal-Erja" data-backdrop="static" data-keyboard="false"><i class="fa fa-sign-in fa-lg fa-fw"></i>ارجاع</button>
                        <button type="button" id="saveParvandeh" class="btn btn-primary  pull-left" style=" margin-left: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i>ذخیره</button>
                        <button type="button" id="payvast" class="btn btn-primary  pull-left" style=" margin-left: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i>پیوست</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<div class="modal fade" id="modal-OtherField" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width:750px;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" style="color:#ed882e">مشخصات اضافی</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="border: solid 1px #ed882e;border-radius: 2%;padding-top: 10px;">
                    <div style="height:500px;overflow:auto;padding-top: 10px;">
                        <div class="table-responsive">
                            <table class="table table-addmin">
                                <tbody data-bind="foreach: ExtraFieldsList">
                                    <tr>
                                        <td style="padding: 10px;border-top: 1px solid #fff;border-bottom: 1px solid #fff;">
                                            <div class="form-group " style="margin-bottom: 10px">
                                                <div class="form-line focused fix">
                                                    <input data-bind="attr: {'id': 'ExtraFields' + BandNo }" type="text" class="form-control" id="ExtraFields1">
                                                    <label class="form-label active" data-bind="text: Name"></label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="padding: 10px;">
                        <div class="row  form-inline ">
                            <div class="col-md-9 row">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary  pull-left dropdown-toggle" data-dismiss="modal" aria-label="Close">
                                    بازگشت
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">

        $('#btnazDocDate').MdPersianDateTimePicker({
            targetTextSelector: '#azDocDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btntaDocDate').MdPersianDateTimePicker({
            targetTextSelector: '#taDocDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btnazRjDate').MdPersianDateTimePicker({
            targetTextSelector: '#azRjDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btntaRjDate').MdPersianDateTimePicker({
            targetTextSelector: '#taRjDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btnazMhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#azMhltDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btntaMhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#taMhltDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btnRjMhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#RjMhltDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#ToUser').val(sessionStorage.userName);

        //'use strict';
        $(function () {
            $('.dd').nestable();
            $('.dd').on('change', function () {
                var $this = $(this);
                var serializedData = window.JSON.stringify($($this).nestable('serialize'));
                $this.parents('div.body').find('textarea').val(serializedData);
            });
        });
    </script>
    <script src="~/Content/new/js/form.min.js"></script>
    <script src="~/Content/new/js/advanced-form-elements.js"></script>
    <script src="~/Content/new/js/jszip.min.js"></script>
    <script src="~/Scripts/Erja.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}





