@using WebKarbord.Controllers.Unit;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><strong>لیست پرونده ها</strong></h2>
                <div class="row header-dropdown m-r--5">
                    <!-- <a id="Print" style="margin-left: 10px;">
                            <img src="/Content/img/sanad/streamline-icon-print-text@48x48.png" width="20" height="20">
                        </a>-->
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                    <a id="refreshParvandeh" class="">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                    </a>

                    <a data-bind="click: $root.AddNewParvandeh" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Parvandeh"> <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" /> </a>

                </div>
            </div>
            <div class="body">
                <br />
                <br />
                <div id="TableList" style="height:400px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md tableFix">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeParvandeh">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>


                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageParvandeh">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageParvandeh">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexParvandeh() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageParvandeh">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageParvandeh">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>

                    </div>

                    <div class="col-md-5">
                        <div class="form-inline pull-left">
                            <label>تعداد کل رکورد ها</label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>

                            <label>نمایش</label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0">100 رکورد آخر</option>
                                    <option value="3">تمام رکوردها</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










<div class="modal fade" id="modal-Parvandeh" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پرونده</h4>
                <a id="refreshErjCust">

                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                            <div class="cardErj">
                                <div class="header" style="background-color: #f5d3b4;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideInformation">
                                            <img id="imgInformation" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                        </a>
                                        <h6>اطلاعت پرونده</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding:10px;">
                                    <div>

                                        <div class="row form-inline ">

                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_docno" class="form-control int" readonly />
                                                            <label class="form-label">شماره</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_DocDate" class="form-control" readonly />
                                                            <label class="form-label">تاریخ</label>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_MhltDate" class="form-control" readonly />
                                                            <label class="form-label">مهلت</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="panelInformation" class="row col-md-12">

                                                <div class="row col-md-12">



                                                    <p class="col-md-1">نوع</p>
                                                    <div class="col-md-5">
                                                        <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                                            <div class="form-group">
                                                                <select id="m_Mahramaneh" data-bind="
                                                               options: MahramanehList,
                                                               optionsText: function(item) {return item.Name},
                                                               optionsValue: 'Code'" style="font-size:11px" disabled></select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-3">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="m_Eghdam" class="form-control" readonly />
                                                                <label class="form-label" id="amounttext">اقدام</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="m_Tanzim" class="form-control" readonly>
                                                                <label class="form-label">تنظیم</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row col-md-12" style="padding-bottom:20px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_CustName" class="form-control" readonly />
                                                            <label class="form-label">مشتری</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="padding-bottom:20px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_KhdtName" class="form-control" readonly>
                                                            <label class="form-label">نوع کار</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12" style="padding-bottom:20px">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_Spec" class="form-control" readonly />
                                                            <label class="form-label" id="amounttext">ملاحظات</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="m_RelatedDocs" class="form-control" readonly />
                                                            <label class="form-label">پرونده های مرتبط</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="cardErj">
                                    <div class="header" style="background-color: #f5d3b4;">


                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <a id="ShowHideSpec">
                                                <img id="imgSpec" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                            </a>
                                            <h6>توضیحات پرونده</h6>
                                        </div>


                                    </div>
                                    <div class="body" style="padding:10px;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!-- <a id="btn-eghdamComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">اقدام</a>-->
                                                        <h6 id="ShowHideEghdamComm" style="cursor: pointer;">اقدام</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="eghdamComm" class="form-control no-resize auto-growth string" style="border-bottom: 1px solid #ffffff;" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!--<a id="btn-DocDesc" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">عمومی</a> -->
                                                        <h6 id="ShowHideDocDesc" style="cursor: pointer;">عمومی</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="docDesc" class="form-control no-resize auto-growth string" style="border-bottom: 1px solid #ffffff;" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!-- <a id="btn-specialComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">مدیران</a>-->
                                                        <h6 id="ShowHideSpecialComm" style="cursor: pointer;">مدیران</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="specialComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <!-- <a id="btn-finalComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">نهایی</a>-->
                                                        <h6 id="ShowHideFinalComm" style="cursor: pointer;">نهایی</h6>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="finalComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="header" style="background-color: #f5d3b4;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideResult">
                                            <img id="imgResult" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                        </a>
                                        <h6>نتیجه</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding:10px;">

                                    <div class="form-group" style="margin-bottom: 0.5rem;">
                                        <div class="form-line">
                                            <textarea rows="1" id="Result" class="form-control no-resize auto-growth string"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="BodyErjDocErja" style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">



                            <!--  <div style="border-top: 0px solid #fff !important;">
                                  <div>
                                      <div class="cardErj">
                                          <div class="header" style="background-color: #e37d228f;">
                                              <div class="form-inline">
                                                  <div class="col-md-9 form-inline">
                                                      <h6>1 ) سوپروایزر</h6>
                                                      <img src="~/Content/img/new item/arrow-back-svgrepo-com.svg" style="width: 14px;margin-left: 3px; margin-right: 3px;" />
                                                      <h6>حميد رضا حجازي</h6>
                                                  </div>
                                                  <div class="col-md-3 form-inline">
                                                      <h6 style="padding-left: 10px">(1:0)</h6>
                                                      <h6>1399/01/12</h6>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="body" style="padding:10px;">
                                              <p>تست </p>
                                              <p>مدیر سیستم به مهندس</p>
                                              <br>
                                              <div style="padding: 3px;margin: 0px 10px 0px 10px;background-color: #5b6775 !important;color: white;border-radius: 10px;">
                                                  <div class=" form-inline">
                                                      <h6> رونوشت به :کاربر 1 امیری</h6>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>-->


                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row  form-inline ">
                    <div class="col-md-9 row">
                        <div id="panelFooterParvandeh" class="col-md-12 row">
                            <p class="col-md-2">وضعیت ارجاع</p>
                            <div class="col-md-3">
                                <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                    <div class="form-group">
                                        <select id="m_StatusErja" style="font-size:11px"></select>
                                    </div>
                                </div>
                            </div>

                            <p class="col-md-2">وضعیت پرونده</p>
                            <div class="col-md-3">
                                <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                    <div class="form-group">
                                        <select id="m_StatusParvandeh" data-bind="
                                   options: ErjStatusList,
                                   optionsText: function(item) {return item.Status},
                                   optionsValue: 'Status'"></select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="button" id="erja" class="btn btn-primary  pull-left dropdown-toggle" data-toggle="modal" data-target="#modal-Erja"><i class="fa fa-sign-in fa-lg fa-fw"></i>ارجاع</button>
                        <button type="button" id="saveParvandeh" class="btn btn-primary  pull-left" style=" margin-left: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i>ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/ErjaIndex.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}

