@using WebKarbord.Controllers.Unit;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><strong>لیست پرونده ها</strong></h2>
                <div class="row header-dropdown m-r--5">
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                    <a id="refreshErjDocH" class="">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                    </a>
                    <a id="AddNewErjDocH" data-bind="click: $root.AddNewDocH" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjDocH"> <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" /> </a>
                </div>
            </div>
            <div class="body">
                <br />
                <br />
                <div id="TableList" style="height:400px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md tableFix">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeErjDocH">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>


                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageErjDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageErjDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexErjDocH() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageErjDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageErjDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>

                    </div>

                    <div class="col-md-5">
                        <div class="form-inline pull-left">
                            <label>تعداد کل رکورد ها</label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>

                            <label>نمایش</label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0">100 رکورد آخر</option>
                                    <option value="3">تمام رکوردها</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-ErjDocH" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab" style="max-width: 1100px;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پرونده</h4>
                <div>
                    <a id="attachFile" class="dropdown-toggle" style="margin-left: 10px;">
                        <!--data-toggle="modal" data-target="#modal-DocAttach"-->
                        <img src="/Content/img/list/attach_file.png" width="20" height="20">
                    </a>
                    <a id="OtherField" class="dropdown-toggle" data-toggle="modal" data-target="#modal-OtherField" style="margin-left: 10px;">
                        <img src="/Content/img/sanad/paper-write.png" width="20" height="20">
                    </a>
                </div>
            </div>
            <div class="modal-body" style="padding-left: 0px;padding-right: 0px;">
                <div class="row">
                    <div class="col-md-8">
                        <div style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">
                            <div class="cardErj">
                                <div class="header" style="background-color: #f5d3b4;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideInformation">

                                        </a>
                                        <h6>اطلاعات پرونده</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding-top: 10px;padding-left: 2px;padding-bottom: 2px;padding-right: 2px;">
                                    <div>

                                        <div class="row form-inline ">
                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="p_docno" class="form-control int" readonly />
                                                            <label class="form-label">شماره</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" data-bind="value:p_EghdamName" id="p_EghdamName" class="form-control" readonly />
                                                            <label class="form-label" id="amounttext">اقدام</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" data-bind="value:p_TanzimName" id="p_TanzimName" class="form-control" readonly />
                                                            <label class="form-label">تنظیم</label>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row col-md-12">
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="input-group-btn">
                                                                <a id="btnp_DocDate">
                                                                    <img src="/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="p_DocDate" data-bind="value:p_DocDate" class="form-control date" type="text" maxlength="10">
                                                                <label class="form-label" for=""> تاریخ پرونده</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="input-group-btn">
                                                                <a id="btnp_MhltDate">
                                                                    <img src="/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="p_MhltDate" data-bind="value:p_MhltDate" class="form-control date" type="text" maxlength="10">
                                                                <label class="form-label" for="">مهلت</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="input-group-btn">
                                                                <a id="btnp_AmalDate">
                                                                    <img src="/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="p_AmalDate" data-bind="value:p_AmalDate" class="form-control date" type="text" maxlength="10">
                                                                <label class="form-label" for=""> تاریخ عمل</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <span class="input-group-btn">
                                                                <a id="btnp_EndDate">
                                                                    <img src="/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="p_EndDate" data-bind="value:p_EndDate" class="form-control date" type="text" maxlength="10">
                                                                <label class="form-label" for="">تاریخ اتمام</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row col-md-12">
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <a id="btnErjCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjCust">
                                                                <img src="~/Content/img/list/man.png" class="icon" height="20" width="20" />
                                                            </a>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="nameErjCust" class="form-control" readonly />
                                                                <label class="form-label"> مشتری</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!--  <p class="col-md-1" style="margin-top: 5px;">نوع</p> -->
                                                <div class="col-md-3">
                                                    <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                                        <div class="form-group">
                                                            <select id="p_Mahramaneh" data-bind="
                                                               options: MahramanehList,
                                                               optionsText: function(item) {return item.Name},
                                                               optionsValue: 'Code'" style="font-size:11px"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row col-md-12">

                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <a id="btnKhdt" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Khdt">
                                                                <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                                            </a>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="nameKhdt" class="form-control" readonly />
                                                                <label class="form-label"> نوع کار</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- <p class="col-md-1" style="margin-top: 5px;">وضعیت</p> -->
                                                <div class="col-sm-3">
                                                    <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                                        <div class="form-group">
                                                            <select id="p_Status" data-bind="options: ErjStatusList,
                                                           optionsText: function(item) {return item.Status},
                                                           optionsValue: 'Status'" style="font-size:11px"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row col-md-12">
                                                <div class="row col-md-9">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="p_Spec" data-bind="value:p_Spec" class="form-control" />
                                                            <label class="form-label">ملاحظات</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <a id="btnRelatedDocs" class="dropdown-toggle" data-toggle="modal" data-target="#modal-RelatedDocs">
                                                                <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                                            </a>
                                                        </div>
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input id="p_RelatedDocs" data-bind="value:p_RelatedDocs" class="form-control" readonly />
                                                                <label class="form-label">پرونده های مرتبط</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cardErj">
                                <div class="header" style="background-color: #f5d3b4;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideSpec">

                                        </a>
                                        <h6>توضیحات پرونده</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding:0px;">
                                    <table class="table" style="margin-bottom:0px;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 10px;">
                                                    <h6 id="ShowHideEghdamComm" style="cursor: pointer;">اقدام</h6>
                                                </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom: 0.5rem;">
                                                        <div class="form-line">
                                                            <textarea rows="3" id="p_EghdamComm" class="form-control no-resize auto-growth string" style="border-bottom: 1px solid #ffffff;"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 10px;">
                                                    <h6 id="ShowHideDocDesc" style="cursor: pointer;">عمومی</h6>
                                                </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom: 0.5rem;">
                                                        <div class="form-line">
                                                            <textarea rows="3" id="p_DocDesc" class="form-control no-resize auto-growth string" style="border-bottom: 1px solid #ffffff;"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width: 10px;">

                                                    <h6 id="ShowHideSpecialComm" style="cursor: pointer;">مدیران</h6>
                                                </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom: 0.5rem;">
                                                        <div class="form-line">
                                                            <textarea rows="3" id="p_SpecialComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 10px;">

                                                    <h6 id="ShowHideFinalComm" style="cursor: pointer;">نهایی</h6>
                                                </td>
                                                <td>
                                                    <div class="form-group" style="margin-bottom: 0.5rem;">
                                                        <div class="form-line">
                                                            <textarea rows="3" id="p_FinalComm" style="border-bottom: 1px solid #ffffff;" class="form-control no-resize auto-growth string"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="BodyErjDocH" style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row  form-inline ">
                    <div class="col-md-9 row">

                    </div>

                    <div class="col-md-3">
                        <button type="button" id="saveErjDocH" class="btn btn-primary  pull-left" style=" margin-left: 8px; margin-right: 8px;"><i class="fa fa-sign-in fa-lg fa-fw"></i>ذخیره</button>
                        <button type="button" id="ErjDocErja" class="btn btn-primary  pull-left dropdown-toggle" data-toggle="modal" data-target="#modal-Erja"><i class="fa fa-sign-in fa-lg fa-fw"></i>ارجاع</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ErjCust" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> مشتری</h4>
                <a id="refreshErjCust">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <br />
                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFix">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableErjCust">
                                <th data-column="Code">
                                    کد
                                    <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeCode }"></i>
                                    </span>
                                </th>
                                <th data-column="SortName">
                                    نام
                                    <span data-bind="attr: { class: currentColumn() == 'SortName' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeName }"></i>
                                    </span>
                                </th>
                                <th data-column="Spec">
                                    ملاحظات
                                    <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeSpec }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageErjCust" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind="click: $parent.selectErjCust">
                                <td data-bind="text: Code"></td>
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Spec"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;">
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjCust0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjCust1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjCust2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeErjCust">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexErjCust() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Khdt" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">نوع کار</h4>
                <a id="refreshKhdt">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <br />
                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFix">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableKhdt">
                                <th data-column="Code">
                                    کد
                                    <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeCode }"></i>
                                    </span>
                                </th>
                                <th data-column="SortName">
                                    نام
                                    <span data-bind="attr: { class: currentColumn() == 'SortName' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeName }"></i>
                                    </span>
                                </th>
                                <th data-column="Spec">
                                    ملاحظات
                                    <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeSpec }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageKhdt" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind="click: $parent.selectKhdt">
                                <td data-bind="text: Code"></td>
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Spec"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;">
                                <td style="padding: 0px 3px;"><input data-bind="value: filterKhdt0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterKhdt1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterKhdt2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeKhdt">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexKhdt() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-RelatedDocs" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پرونده های مرتبط</h4>
                <a id="refreshRelatedDocs">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped tableFix">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableRelatedDocs">
                                        <th data-column="DocNo" style="width: 1px;">
                                            شماره
                                            <span data-bind="attr: { class: currentColumn() == 'DocNo' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeRelatedDocsDocNo }"></i>
                                            </span>
                                        </th>
                                        <th data-column="DocDate" style="width: 1px;">
                                            تاریخ
                                            <span data-bind="attr: { class: currentColumn() == 'DocDate' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeRelatedDocsDocDate }"></i>
                                            </span>
                                        </th>
                                        <th data-column="CustName">
                                            مشتری
                                            <span data-bind="attr: { class: currentColumn() == 'CustName' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeRelatedDocsCustName }"></i>
                                            </span>
                                        </th>

                                        <th data-column="KhdtName">
                                            نوع کار
                                            <span data-bind="attr: { class: currentColumn() == 'KhdtName' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeRelatedDocsKhdtName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeRelatedDocsSpec }"></i>
                                            </span>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageRelatedDocs" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddRelatedDocs }">
                                        <td data-bind="text: DocNo"></td>
                                        <td data-bind="text: DocDate"></td>
                                        <td data-bind="text: CustName"></td>
                                        <td data-bind="text: KhdtName"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterRelatedDocs0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterRelatedDocs1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterRelatedDocs2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterRelatedDocs3, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterRelatedDocs4, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="row centered">
                                    <div style="height:160px; width:20px"></div>
                                    <a data-bind="click: AddAllRelatedDocs" style="height:18px;padding-right: 3px;">
                                        <img src="/Content/img/list/streamline-icon-navigation-last.png" style="width:22px;height:18px;" />
                                    </a>
                                    <div style="height:80px"></div>
                                    <a data-bind="click: DelAllRelatedDocs" style="height:18px;padding-right: 3px;">
                                        <img src="/Content/img/list/streamline-icon-navigation-first.png" style="width:22px;height:18px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                                    <table class="table table-hover table-striped tableFix" id="TableListRelatedDocs">
                                        <thead style="cursor: pointer;">
                                            <tr>
                                                <th style="width: 10px;">شماره </th>
                                                <th style="width: 10px;">تاریخ </th>
                                                <th style="width: 10px;">مشتری</th>
                                                <th style="width: 10px;">نوع کار</th>
                                                <th style="width: 10px;">ملاحظات</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TableBodyListRelatedDocs" style="cursor: default;"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-inline">
                                    <label>نمایش</label>
                                    <div class="form-group" style="text-align: center; width: 50px;">
                                        <select id="pageSizeSelector" data-bind="value: pageSizeRelatedDocs">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                            <option value="60">60</option>
                                            <option value="70">70</option>
                                            <option value="80">80</option>
                                            <option value="90">90</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <label>رکورد</label>
                                </div>
                            </div>
                            <div class="col-md-8" style="text-align: left;">
                                <a data-bind="click: firstPageRelatedDocs">
                                    <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                                </a>
                                <a data-bind="click: previousPageRelatedDocs">
                                    <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                                </a>
                                <b data-bind="text: currentPageIndexRelatedDocs() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                                <a data-bind="click: nextPageRelatedDocs">
                                    <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                                </a>
                                <a data-bind="click: lastPageRelatedDocs">
                                    <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-OtherField" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: solid 10px #f5d3b4;padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">مشخصات اضافی</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto">
                    <div class="table-responsive">
                        <table class="table table-addmin">
                            <tbody data-bind="foreach: ExtraFieldsList">
                                <tr>
                                    <td data-bind="text: Name" style="background-color: #d4d4d4; width:250px;border-top: 1px solid #fff; border-bottom: 1px solid #fff;">مشخصه وارده</td>
                                    <td style="padding: 0px 10px;border-top: 1px solid #fff;border-bottom: 1px solid #fff;"><input data-bind="attr: {'id': 'ExtraFields' + BandNo }" type="text" class="form-control" style="border-bottom: 1px solid #d4d4d4;" id="ExtraFields1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div style="border-top: solid 1px black;padding-top: 5px;">
                <div class="row  form-inline ">
                    <div class="col-md-9 row">

                    </div>

                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary  pull-left dropdown-toggle" data-dismiss="modal" aria-label="Close">
                            بازگشت
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-DocAttach" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پیوست</h4>

                <div>
                    <a id="refreshDocAttach">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                    </a>


                    <input id="upload" type="file" style="display:none" data-bind="event: {change: $root.fileUpload}" />
                    <a id="AddNewDocAttach">
                        <img src="/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20">
                    </a>

                    <!--<input type="file" id="file" />
                    <input type="button" id="btnUpload" value="Upload" />-->
                </div>


            </div>
            <div class="modal-body">



                <br />
                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFix">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableDocAttach">
                                <th style="width: 10px;">ردیف</th>
                                <th data-column="Comm" style="text-align: center;">
                                    شرح
                                    <span data-bind="attr: { class: currentColumn() == 'Comm' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeComm }"></i>
                                    </span>
                                </th>
                                <th style="width:1px;"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageDocAttach" style="cursor: default;">
                            <tr>
                                <td data-bind="text: BandNo" style="background-color: #d9d9d9;"></td>
                                <td data-bind="text: Comm"></td>
                                <td>
                                    <a data-bind="click: $root.selectDocAttach">
                                        <img src="/Content/img/list/download.png" width="20" height="20" style="margin-left:10px" />
                                    </a>

                                    <a id="DeleteDocAttach" data-bind="click: $root.DeleteDocAttach">
                                        <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399">
                                <td>جستجو</td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterDocAttach0, valueUpdate: 'afterkeydown'" type="text" class="form-control " style="height: 2.4rem;" /> </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeDocAttach">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexDocAttach() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageDocAttach">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>






























<div class="modal fade" id="modal-Erja" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab" style="width:980px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">ارجاع جدید</h4>
                <a></a>
            </div>




            <div class="modal-body">
                <div class="form-group" style="margin-bottom: 0.5rem;">


                    <div class="cardErj">
                        <div class="header" style="background-color: #f5d3b4;">
                            <div class="row form-inline modal-header" style="padding:0px;">
                                <h6>متن ارجاعی از شما</h6>
                            </div>
                        </div>
                        <div class="body" style="padding:10px;">

                            <div class="form-group" style="margin-bottom: 0.5rem;">
                                <div class="form-line">
                                    <textarea rows="25" id="e_Result" class="form-control no-resize auto-growth string"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="row  form-inline ">



                    <div class="col-md-12 row">


                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnErjCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjBe">
                                        <img src="~/Content/img/list/man.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameErjBe" class="form-control" readonly />
                                        <label class="form-label"> ارجاع به</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnErjCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjUsersRonevesht">
                                        <img src="~/Content/img/list/man.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameRoneveshtBe" class="form-control" readonly />
                                        <label class="form-label"> رو نوشت به</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group-btn">
                                        <a id="btnRjMhltDate">
                                            <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                        </a>
                                    </span>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="RjMhltDate" class="form-control date" type="text" maxlength="10">
                                        <label class="form-label" for="">مهلت ارجاع</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <p>زمان صرف شده</p> -->
                        <div class="col-sm-1">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="RjTime_M" class="form-control int" />
                                    <label class="form-label active">دقیقه</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="RjTime_H" class="form-control int" />
                                    <label class="form-label active">ساعت</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 pull-left">
                            <button type="button" id="saveErja" class="btn btn-primary  pull-left"><i class="fa fa-sign-in fa-lg fa-fw"></i>ثبت ارجاع</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-ErjBe" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست کاربران</h4>
                <a id="refreshErjUsers">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <br />
                <div style="height:420px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped tableFix">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableErjUsers">
                                <th data-column="Code">
                                    کد
                                    <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeCode }"></i>
                                    </span>
                                </th>
                                <th data-column="SortName">
                                    نام
                                    <span data-bind="attr: { class: currentColumn() == 'SortName' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeName }"></i>
                                    </span>
                                </th>
                                <th data-column="Spec">
                                    ملاحظات
                                    <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeSpec }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageErjUsers" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind="click: $parent.selectErjUsers">
                                <td data-bind="text: Code"></td>
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Spec"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;">
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsers0, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsers1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsers2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeErjUsers">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexErjUsers() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageErjUsers">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="modal fade" id="modal-ErjUsersRonevesht" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست کاربران</h4>
                <a id="refreshErjUsersRonevesht">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped tableFix">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableErjUsersRonevesht">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="SortName">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'SortName' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageErjUsersRonevesht" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddErjUsersRonevesht }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsersRonevesht0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsersRonevesht1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjUsersRonevesht2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="row centered">
                                    <div style="height:160px; width:20px"></div>
                                    <a data-bind="click: AddAllErjUsersRonevesht" style="height:18px;padding-right: 3px;">
                                        <img src="/Content/img/list/streamline-icon-navigation-last.png" style="width:22px;height:18px;" />
                                    </a>
                                    <div style="height:80px"></div>
                                    <a data-bind="click: DelAllErjUsersRonevesht" style="height:18px;padding-right: 3px;">
                                        <img src="/Content/img/list/streamline-icon-navigation-first.png" style="width:22px;height:18px;" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-11">

                                <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                                    <table class="table table-hover table-striped tableFix" id="TableSelectedErjUsersRonevesht">
                                        <thead style="cursor: pointer;">
                                            <tr>
                                                <th>کد</th>
                                                <th>نام</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TableBodyListErjUsersRonevesht" style="cursor: default;"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-inline">
                                    <label>نمایش</label>
                                    <div class="form-group" style="text-align: center; width: 50px;">
                                        <select id="pageSizeSelector" data-bind="value: pageSizeErjUsersRonevesht">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                            <option value="60">60</option>
                                            <option value="70">70</option>
                                            <option value="80">80</option>
                                            <option value="90">90</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <label>رکورد</label>
                                </div>
                            </div>
                            <div class="col-md-8" style="text-align: left;">

                                <a data-bind="click: firstPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                                </a>
                                <a data-bind="click: previousPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                                </a>
                                <b data-bind="text: currentPageIndexErjUsersRonevesht() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                                <a data-bind="click: nextPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                                </a>
                                <a data-bind="click: lastPageErjUsersRonevesht">
                                    <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="modal fade" id="modal-Comm" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="titleComm"></h4>
                <a></a>
            </div>
            <div class="modal-body">
                <textarea id="comm" rows="30" class="form-control no-resize auto-growth string" style="text-align:justify"></textarea>
            </div>
        </div>
    </div>
</div>













<div class="modal fade" id="modal-TestDelete" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="titleFinalSave">حذف پرونده</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div id="BodyTestDoc_Delete" style="height:400px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                    <div class="body" style="padding:7px;">
                        <div class="form-inline">
                            <img src="~/Content/img/Warning.jpg" width="22" style="margin-left: 3px;" />
                            <p style="margin-left: 3px;">هشدار :</p>
                            <p>بند شماره 1 مرکز هزینه مشخص نشده است</p>
                        </div>
                    </div>

                </div>
                <br />
                <div>
                    <div class="row  form-inline ">
                        <div class="col-md-6 row">
                            <div style="margin-right: 0px;margin-left: 0px;">
                                <div id="ShowCountWarning" class="row" style="padding-bottom:5px;">
                                    <img src="~/Content/img/Warning.jpg" width="22" height="22" style="margin-left:5px;" /> <p><span>هشدار :</span> <span id="CountWarning">1</span> <span>مورد</span> </p>
                                </div>

                                <div id="ShowCountError" class="row">
                                    <img src="~/Content/img/Error.jpg" width="22" height="22" style="margin-left:5px;" /><p><span>خطا :</span> <span id="CountError">0</span> <span>مورد</span> </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-left" style="margin-right: 8px; width:100px; background-color: #eb8121 !important;">
                                بازگشت
                            </button>
                            <button type="button" id="Delete-Modal" class="btn btn-primary pull-left" style="background-color: #eb8121 !important;width:100px;">
                                حذف
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>










@section scripts{
    <script type="text/javascript">
        $('#btnp_DocDate').MdPersianDateTimePicker({
            targetTextSelector: '#p_DocDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btnp_MhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#p_MhltDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });


        $('#btnp_AmalDate').MdPersianDateTimePicker({
            targetTextSelector: '#p_AmalDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btnp_EndDate').MdPersianDateTimePicker({
            targetTextSelector: '#p_EndDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btnRjMhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#RjMhltDate',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });



    </script>
    <script src="~/Content/new/js/jszip.min.js"></script>
    <script src="~/Scripts/ErjaIndex.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}

