@using WebKarbord.Controllers.Unit;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="padding-bottom: 5px;">
                <div class="form-inline focused">
                    <strong style="margin-left: 5px; margin-right: 5px;font-size: 15px;"> <b data-bind="text:translate('لیست')"></b>  <b id="TitleListFactor"></b></strong>
                    <strong style="margin-left: 5px; margin-right: 5px;padding-right: 30px;">
                        <span data-bind="text:translate('جستجوی')"></span>
                        <b id="TitleListFactorSearch"></b>
                        <span data-bind="text:translate('شماره')"></span>

                    </strong>
                    <input type="text" id="DocNoSearch" class="form-control int" style="width: 100px;text-align: center;" />
                    <a id="btn_DocNoSearch" data-bind="attr: {title:text_Update}">
                        <img src="~/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-right: 5px;" />
                    </a>


                    <div id="buttom-header-dropdown" class="header-dropdown m-r--5">
                        <!-- <a id="Print" style="margin-left: 10px;">
        <img src="/Content/img/sanad/streamline-icon-print-text@48x48.png" width="20" height="20">
    </a> -->

                        <strong data-bind="text:translate('سال مالی')"></strong>
                        <select id="DropSalFct" class="selectorange" style="direction: rtl;width: 100px; margin-left: 15px;"></select>


                      <!--  <a id="LinkSanad" data-bind="attr: {title:text_LinkSanad}">
                            <img src="~/Content/img/list/link.png" width="20" height="20" style="margin-left: 10px;" />
                        </a> -->

                        <a id="SettingColumn" class="" data-bind="attr: {title:text_SettingColumn}">
                            <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-SettingColumn" />
                        </a>
                        <a id="refreshFDocH" class="">
                            <img data-bind="attr: {title:text_Refresh}" src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                        </a>
                        <a id="AddNewFactor" class="" data-bind="attr: {title:text_Add}">
                            <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" />
                        </a>

                        <!--  <a id="AddNewFactor" class="">
        <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" />
    </a>

    <a id="AddNewFactor_New" class="">
        <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="26" height="26" />
    </a>-->

                    </div>
                </div>
            </div>
            <div class="body">
                <div id="TableList" style="height:400px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md tableFix">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label data-bind="text:translate('نمایش')"></label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeFDocH">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label data-bind="text:translate('رکورد در هر صفحه')"></label>
                        </div>
                    </div>


                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageFDocH">
                            <img class="firstPage-img" data-bind="attr: {title:text_FirstPage}" src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageFDocH">
                            <img class="previousPage-img" data-bind="attr: {title:text_PreviousPage}" src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: PageIndexFDocH(currentPageIndexFDocH() + 1)" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageFDocH">
                            <img class="nextPage-img" data-bind="attr: {title:text_NextPage}" src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageFDocH">
                            <img class="lastPage-img" data-bind="attr: {title:text_LastPage}" src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                    <div class="col-md-5">
                        <div class="form-inline panel_CountRecord_Sanad" style="text-align:left">
                            <label data-bind="text:translate('تعداد کل رکورد ها')"></label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>
                            <label data-bind="text:translate('نمایش')"></label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0" data-bind="text:translate('100 رکورد')"></option>
                                    <option value="3" data-bind="text:translate('تمام رکوردها')"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal modal-info fade" id="modal-SelectFactor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">انتخاب فاکتور</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-info">
                        <form class="form-horizontal">
                            <div class="form-group" style="margin-top: 10px;">
                                <label for="" class="col-md-7 control-label" style="text-align: right;">از سال</label>
                                <div class="col-md-5">@Html.DropDownList("salList", null, "سال را انتخاب کنید", htmlAttributes: new { @class = "form-control", id = "sal" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-7 control-label" style="text-align: right;">
                                    <span id="CaptionSelectFactor"></span>
                                </label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control int" id="docnumber" data-bind="attr:{placeholder:translate('شماره فاکتور')}" readonly> <span class="input-group-btn">
                                            <button type="button" class="btn btn-info" id="btnfactor" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-Factor">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bind="" id="SaveFDocH1">ثبت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modalTwo modal modal-info fade " id="modal-Factor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">لیست فاکتور ها</h4>
                    <a class="glyphicon glyphicon-refresh pull-left" id="refreshfactor"></a>
                </div>
                <div class="modal-body">
                    <input data-bind="value: filterFDocH1, valueUpdate: 'afterkeydown' , attr:{placeholder:translate('جستجو بر اساس همه موارد')}" id="searchFDocH1" class="form-control" />
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="allSearchFDocH1" checked>همه موارد
                            </label>
                        </div>
                    </div>
                    <br />
                    <div style="height:300px;overflow:auto;border: 1px #ddd solid;">
                        <table class="table table-hover table-striped tableFixList">
                            <thead style="cursor: pointer;">
                                <tr data-bind="click: sortTableFDocH1">
                                    <th data-column="DocNo">
                                        شماره سند <span data-bind="attr: { class: currentColumn1() == 'DocNo' ? 'isVisible' : 'isHidden' }"> <i data-bind="attr: { class: iconTypeDocNo }"></i> </span>
                                    </th>
                                    <th data-column="DocDate">
                                        تاریخ سند <span data-bind="attr: { class: currentColumn1() == 'DocDate' ? 'isVisible' : 'isHidden' }"> <i data-bind="attr: { class: iconTypeDocDate }"></i> </span>
                                    </th>
                                    <th data-column="CustName">
                                        <span id="TitleCustName1"></span>  <span data-bind="attr: { class: currentColumn() == 'CustName' ? 'isVisible' : 'isHidden' }"> <i data-bind="attr: { class: iconTypeCustName }"></i> </span>
                                    </th>
                                    <th data-column="Spec">
                                        <span data-column="Spec" data-bind="text:translate('ملاحظات')"></span>
                                        ملاحضات <span data-bind="attr: { class: currentColumn1() == 'Spec' ? 'isVisible' : 'isHidden' }"> <i data-bind="attr: { class: iconTypeSpec }"></i> </span>
                                    </th>
                                    <th data-column="Tanzim">
                                        تنظیم <span data-bind="attr: { class: currentColumn1() == 'Tanzim' ? 'isVisible' : 'isHidden' }"> <i data-bind="attr: { class: iconTypeTanzim }"></i> </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: currentPageFDocH1" data-dismiss="modal" style="cursor: default;">
                                <tr data-bind="click: $parent.selectFactor1 , css: { matched: $data === $root.firstMatch() }">
                                    <td data-bind="text: DocNo"></td>
                                    <td data-bind="text: DocDate"></td>
                                    <td data-bind="text: CustName"></td>
                                    <td data-bind="text: Spec" class="ellipsis"></td>
                                    <td data-bind="text: Tanzim"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <center>
                        <button data-bind="click: firstPageFDocH1" class="btn">
                            اولین <i class="glyphicon glyphicon-triangle-right"></i>
                        </button>
                        <button data-bind="click: previousPageFDocH1" class="btn">
                            قبلی <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>صفحه
                        <label data-bind="text: currentPageIndexFDocH1() + 1" class="badge"></label>
                        <button data-bind="click: nextPageFDocH1" class="btn">
                            بعدی <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                        <button data-bind="click: lastPageFDocH1" class="btn">
                            آخرین <i class="glyphicon glyphicon-triangle-left"></i>
                        </button>
                        <div class="pull-right">
                            <select id="pageSizeSelector" data-bind="value: pageSizeFDocH1" class="form-control">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-Move" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <a id=""></a>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs">
                    <li id="TabPor">
                        <a class="active show" data-toggle="tab" href="#home" style="padding-left: 20px;padding-right: 20px;" data-bind="text:translate('کپی')"></a>
                    </li>
                    <li id="TabMove" class="active">
                        <a data-toggle="tab" href="#menu1" style="padding-left: 20px;padding-right: 20px;" data-bind="text:translate('انتقال')"></a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                        <br />
                        <p class="modal-title" id="titlePor"></p>
                        <br />

                        <div id="modeListPor">

                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <br />
                        <p class="modal-title" id="titleMove"></p>
                        <br />

                        <select id="modeCodeMove"></select>

                        <br />
                        <br />
                        <br />

                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line focused fix">
                                    <input type="text" id="darsadMove" class="form-control float" />
                                    <label class="form-label" data-bind="text:translate('درصد از مقدار باقیمانده')"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <br />
            <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                <button data-bind="text:translate('تایید')" type="button" id="Move" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                <button data-bind="text:translate('انصراف')" type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
            </div>

        </div>

    </div>
</div>




<div class="modal fade" id="modal-LinkSanad" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" data-bind="text:translate('لینک اسناد')"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <p id="L_TitleLink"></p>
                <br />
                <div style="height:200px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-bind="text:translate('ردیف')"></th>
                                <th data-bind="text:translate('شماره سند')"></th>
                                <th data-bind="text:translate('تاریخ سند')"></th>
                                <th data-bind="text:translate('ملاحظات')"></th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach: FDocHLinkList" style="cursor: default;">
                            <tr>
                                <td data-bind="text: $index() + 1"></td>
                                <td data-bind="text: DocNo"></td>
                                <td data-bind="text: DocDate"></td>
                                <td data-bind="text: Spec" class="ellipsis"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button data-bind="text:translate('ثبت حسابداری فاکتور ها')" type="button" id="RegFDocToADoc" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>

                    <div class="col-md-6">
                        <button data-bind="text:translate('ثبت انبارداری فاکتور ها')" type="button" id="RegFDocToIDoc" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" data-bind="text:translate('تنظیم ستون ها')"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td data-bind="text:translate('ردیف')"></td>
                                <td style="width:250px;" data-bind="text:translate('نام ستون')"> </td>
                                <td class="panel_AllSettingColumns" style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns" data-bind="text:translate('انتخاب همه')"></label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button data-bind="text:translate('پیش فرض')" type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>
                    <div class="col-md-6">
                        <button data-bind="text:translate('تایید')" type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->



<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" data-bind="text:translate('تنظیم ستون ها')"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td data-bind="text:translate('ردیف')"></td>
                                <td style="width:250px;" data-bind="text:translate('نام ستون')"> </td>
                                <td class="panel_AllSettingColumns" style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns" data-bind="text:translate('انتخاب همه')"></label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button data-bind="text:translate('پیش فرض')" type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>
                    <div class="col-md-6">
                        <button data-bind="text:translate('تایید')" type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-ChangeStatusFactor" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleChangeStatus"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <select id="status" data-bind="options: StatusList,
                                         optionsText: 'Status',
                                         optionsValue: 'Status',
                                         value: StatusFactor"></select>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                <button data-bind="text:translate('تایید')" type="button" id="ChangeStatus" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                <button data-bind="text:translate('انصراف')" type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
            </div>

        </div>

    </div>
</div>


<div class="modal fade" id="modal-TestDelete" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="titleFinalDelete">حذف سند</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div id="BodyTestDoc_Delete" style="height:400px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">
                </div>
                <br />
                <div>
                    <div class="row  form-inline ">
                        <div class="col-md-6 row">
                            <div style="margin-right: 0px;margin-left: 0px;">
                                <div id="ShowCountWarning" class="row" style="padding-bottom:5px;" data-bind="text:translate('مورد')">
                                    <img src="~/Content/img/Warning.jpg" width="22" height="22" style="margin-left:5px;" /> <p><span data-bind="text:translate('هشدار') + ' : '"></span> <span id="CountWarning">1</span> <span data-bind="text:translate('مورد')"></span> </p>
                                </div>

                                <div id="ShowCountError" class="row">
                                    <img src="~/Content/img/Error.jpg" width="22" height="22" style="margin-left:5px;" /><p><span data-bind="text:translate('خطا') + ' : '"></span> <span id="CountError">0</span> <span data-bind="text:translate('مورد')"></span> </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <button data-bind="text:translate('بازگشت')" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-left" style="margin-right: 8px; width:100px; background-color: #eb8121 !important;"></button>
                            <button data-bind="text:translate('حذف')" type="button" id="Delete-Modal" class="btn btn-primary pull-left" style="background-color: #eb8121 !important;width:100px;"></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
         sessionStorage.urlAddFDocH = '@Url.Action("AddFdoc", "AFIFactor")';
         sessionStorage.urlAddFDocH_New = '@Url.Action("AddFdoc_New", "AFIFactor")';
    </script>
    <script src="~/Scripts/AFIIndexFactor.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}
