
@{
    ViewBag.Title = "AddAdoc_New";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



<div class="demo-container">
    <div id="data-grid-demo">
        <div id="gridContainer"></div>
    </div>
</div>






@section scripts{
    <script src="~/Scripts/AFISanad_New.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}
