@using WebKarbord.Controllers.Unit;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><strong>لیست سند حسابداری</strong></h2>
                <div class="row header-dropdown m-r--5">
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="24" height="24" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                    <a id="refreshADocH" class="">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="24" height="24" style="margin-left: 10px;" />
                    </a>
                    <a id="AddNewSanad" class="">
                        <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="24" height="24" />
                    </a>
                </div>
            </div>
            <div class="body">
                <br />
                <div id="TableList" style="height:465px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeADocH">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>


                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageADocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageADocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexADocH() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageADocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageADocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>

                    </div>

                    <div class="col-md-5">
                        <div class="form-inline pull-left">
                            <label>تعداد کل رکورد ها</label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>

                            <label>نمایش</label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0">100 رکورد آخر</option>
                                    <option value="3">تمام رکوردها</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <div class="table-responsive">
                        <table class="table table-addmin">
                            <thead style="cursor: pointer;">
                                <tr>
                                    <td>ردیف</td>
                                    <td style="width:250px;"> نام ستون</td>
                                    <td>
                                       وضعیت نمایش
                                        <input id="AllSettingColumns" type="checkbox" />
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>1</td><td id="TextColumns1"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns1" type="checkbox" /></td></tr>
                                <tr><td>2</td><td id="TextColumns2"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns2" type="checkbox" /></td></tr>
                                <tr><td>3</td><td id="TextColumns3"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns3" type="checkbox" /></td></tr>
                                <tr><td>4</td><td id="TextColumns4"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns4" type="checkbox" /></td></tr>
                                <tr><td>5</td><td id="TextColumns5"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns5" type="checkbox" /></td></tr>
                                <tr><td>6</td><td id="TextColumns6"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns6" type="checkbox" /></td></tr>
                                <tr><td>7</td><td id="TextColumns7"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns7" type="checkbox" /></td></tr>
                                <tr><td>8</td><td id="TextColumns8"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns8" type="checkbox" /></td></tr>
                                <tr><td>9</td><td id="TextColumns9"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns9" type="checkbox" /></td></tr>
                                <tr><td>10</td><td id="TextColumns10"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns10" type="checkbox" /></td></tr>
                                <tr><td>11</td><td id="TextColumns11"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns11" type="checkbox" /></td></tr>
                                <tr><td>12</td><td id="TextColumns12"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns12" type="checkbox" /></td></tr>
                                <tr><td>13</td><td id="TextColumns13"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns13" type="checkbox" /></td></tr>
                                <tr><td>14</td><td id="TextColumns14"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns14" type="checkbox" /></td></tr>
                                <tr><td>15</td><td id="TextColumns15"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns15" type="checkbox" /></td></tr>
                                <tr><td>16</td><td id="TextColumns16"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns16" type="checkbox" /></td></tr>
                                <tr><td>17</td><td id="TextColumns17"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns17" type="checkbox" /></td></tr>
                                <tr><td>18</td><td id="TextColumns18"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns18" type="checkbox" /></td></tr>
                                <tr><td>19</td><td id="TextColumns19"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns19" type="checkbox" /></td></tr>
                                <tr><td>20</td><td id="TextColumns20"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns20" type="checkbox" /></td></tr>
                                <tr><td>21</td><td id="TextColumns21"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns21" type="checkbox" /></td></tr>
                                <tr><td>22</td><td id="TextColumns22"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns22" type="checkbox" /></td></tr>
                                <tr><td>23</td><td id="TextColumns23"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns23" type="checkbox" /></td></tr>
                                <tr><td>24</td><td id="TextColumns24"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns24" type="checkbox" /></td></tr>
                                <tr><td>25</td><td id="TextColumns25"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns25" type="checkbox" /></td></tr>
                                <tr><td>26</td><td id="TextColumns26"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns26" type="checkbox" /></td></tr>
                                <tr><td>27</td><td id="TextColumns27"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns27" type="checkbox" /></td></tr>
                                <tr><td>28</td><td id="TextColumns28"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns28" type="checkbox" /></td></tr>
                                <tr><td>29</td><td id="TextColumns29"></td><td style="padding: 0px 10px;text-align: center;"><input id="SettingColumns29" type="checkbox" /></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveMove" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
		sessionStorage.urlADocH='@Url.Action("AddAdoc", "AFISanad")';
    </script>
    <script type="text/javascript"></script>
    <script src="~/Scripts/AFIIndexSanad.js"></script>
}

