@using WebKarbord.Controllers.Unit;
@{

    ViewBag.Title = "اسناد حسابداری";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="padding-bottom: 5px;">
                <div class="form-inline focused">
                    <strong style="margin-left: 5px; margin-right: 5px;font-size: 15px;" data-bind="text:translate('لیست اسناد حسابداری')"> </strong>
                    <strong style="margin-left: 5px; margin-right: 5px;padding-right: 30px;" data-bind="text:translate('جستجوی سند شماره')"></strong>
                    <input type="text" id="DocNoSearch" class="form-control int" style="width: 100px;text-align: center;" />
                    <a id="btn_DocNoSearch" data-bind="attr: {title:text_Update}">
                        <img src="~/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-right: 5px;" />
                    </a>


                    <div id="buttom-header-dropdown" class="header-dropdown m-r--5">

                        <strong data-bind="text:translate('سال مالی')"></strong>
                        <select id="DropSalAcc" class="selectorange"  style="direction: rtl;width: 100px; margin-left: 15px;"></select>

                        <a id="SettingColumn" class="" data-bind="attr: {title:text_SettingColumn}">
                            <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-SettingColumn" />
                        </a>
                        <a id="refreshADocH" class="">
                            <img data-bind="attr: {title:text_Refresh}" src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                        </a>
                        <!-- <a id="AddNewSanad" class="">
        <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" />
    </a> -->

                        <a id="AddNewSanad" class="" data-bind="attr: {title:text_Add}">
                            <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="body">
                <div id="TableList" style="height:400px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md tableFix">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label data-bind="text:translate('نمایش')"></label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeADocH">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label data-bind="text:translate('رکورد در هر صفحه')"></label>
                        </div>
                    </div>


                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageADocH">
                            <img class="firstPage-img" data-bind="attr: {title:text_FirstPage}" src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageADocH">
                            <img class="previousPage-img" data-bind="attr: {title:text_PreviousPage}" src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: PageIndexADocH(currentPageIndexADocH() + 1)" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageADocH">
                            <img class="nextPage-img" data-bind="attr: {title:text_NextPage}" src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageADocH">
                            <img class="lastPage-img" data-bind="attr: {title:text_LastPage}" src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>

                    </div>

                    <div class="col-md-5">
                        <div class="form-inline panel_CountRecord_Sanad" style="text-align:left">
                            <label data-bind="text:translate('تعداد کل رکورد ها')"></label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>

                            <label data-bind="text:translate('نمایش')"></label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0" data-bind="text:translate('100 رکورد')"></option>
                                    <option value="3" data-bind="text:translate('تمام رکوردها')"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" data-bind="text:translate('تنظیم ستون ها')"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td data-bind="text:translate('ردیف')"></td>
                                <td style="width:250px;" data-bind="text:translate('نام ستون')"> </td>
                                 <td class="panel_AllSettingColumns" style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns" data-bind="text:translate('انتخاب همه')"></label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button data-bind="text:translate('پیش فرض')" type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>
                    <div class="col-md-6">
                        <button data-bind="text:translate('تایید')" type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Move" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleMove"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <select id="modeCodeMove"><option value="0" selected data-bind="text:translate('سند حسابداری')"></option></select>
                </div>
            </div>


            <br />
            <br />
            <br />
            <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                <button data-bind="text:translate('کپی')" type="button" id="Move" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                <button data-bind="text:translate('انصراف')" type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="modal-ChangeStatusSanad" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titleChangeStatus"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <select id="status" data-bind="options: StatusList,
                                         optionsText: 'Status',
                                         optionsValue: 'Status',
                                         value: StatusSanad"></select>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                <button data-bind="text:translate('تایید')" type="button" id="ChangeStatus" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                    
                </button>
                <button data-bind="text:translate('انصراف')" type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                    
                </button>
            </div>

        </div>

    </div>
</div>


<div class="modal fade" id="modal-TestDelete" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="titleFinalSave" data-bind="text:translate('حذف سند حسابداری')"></h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div id="BodyTestDoc_Delete" style="height:400px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">
                </div>
                <br />
                <div>
                    <div class="row  form-inline ">
                        <div class="col-md-6 row">
                            <div style="margin-right: 0px;margin-left: 0px;">
                                <div id="ShowCountWarning" class="row" style="padding-bottom:5px;" data-bind="text:translate('مورد')">
                                    <img src="~/Content/img/Warning.jpg" width="22" height="22" style="margin-left:5px;" /> <p><span data-bind="text:translate('هشدار') + ' : '"></span> <span id="CountWarning">1</span> <span data-bind="text:translate('مورد')"></span> </p>
                                </div>

                                <div id="ShowCountError" class="row">
                                    <img src="~/Content/img/Error.jpg" width="22" height="22" style="margin-left:5px;" /><p><span data-bind="text:translate('خطا') + ' : '"></span> <span id="CountError">0</span> <span data-bind="text:translate('مورد')"></span> </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <button data-bind="text:translate('بازگشت')" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-left" style="margin-right: 8px; width:100px; background-color: #eb8121 !important;"></button>
                            <button data-bind="text:translate('حذف')" type="button" id="Delete-Modal" class="btn btn-primary pull-left" style="background-color: #eb8121 !important;width:100px;"></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        sessionStorage.urlAddADocH = '@Url.Action("AddAdoc", "AFISanad")';
           sessionStorage.urlAddADocH_New='@Url.Action("AddAdoc_New", "AFISanad")';
    </script>
    <script type="text/javascript"></script>
    <script src="~/Scripts/AFIIndexSanad.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}

