
@{
    ViewBag.Title = "Dftr";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><strong>دفتر حساب</strong></h2>
                <div class="row header-dropdown m-r--5">
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="24" height="24" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                </div>
            </div>


            <div class="body">
                <br />
                <br />
                <form class="clearfix">
                    <div class="row form-inline ">
                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnaztarikh">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="aztarikh" data-bind="value:AzDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">از تاریخ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btntatarikh">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="tatarikh" data-bind="value:TaDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">تا تاریخ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="azshomarh" data-bind="value:AzShomarh" class="form-control" type="text" maxlength="10">
                                        <label class="form-label" for="">از شماره</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="tashomarh" data-bind="value:TaShomarh" class="form-control date" type="text" maxlength="10">
                                        <label class="form-label" for="">تا شماره</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-inline">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                    <span class="col-md-5">
                                        نمایش بند ها
                                    </span>
                                    <div class="form-group col-md-7">
                                        <select id="DispBands"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" Hidden>
                                <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                    <span class="col-md-5">
                                        نوع نمایش
                                    </span>
                                    <div class="form-group col-md-7">
                                        <select id="JamRooz"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row form-inline ">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnAcc" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Acc">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float" style="margin-left: 250px;">
                                    <div class="form-line focused fix">
                                        <input id="nameAcc" class="form-control" readonly />
                                        <label class="form-label">حساب</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnAMode" class="dropdown-toggle" data-toggle="modal" data-target="#modal-AMode">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float" style="margin-left: 250px;">
                                    <div class="form-line focused fix">
                                        <input id="nameAMode" class="form-control" readonly />
                                        <label class="form-label">نوع سند</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnStatus" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Status">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float" style="margin-left: 250px;">
                                    <div class="form-line focused fix">
                                        <input id="nameStatus" class="form-control" readonly />
                                        <label class="form-label">وضعیت سند</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row form-inline ">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnOpr" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Opr">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float" style="margin-left: 250px;">
                                    <div class="form-line focused fix">
                                        <input id="nameOpr" class="form-control" readonly />
                                        <label class="form-label"> پروژه</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnMkz" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Mkz">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float" style="margin-left: 250px;">
                                    <div class="form-line focused fix">
                                        <input id="nameMkz" class="form-control" readonly />
                                        <label class="form-label"> مرکز هزینه</label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">


                            <div class="pull-left">
                                <button type="button" id="CreateReport" class="btn btn-primary"><i class="fa fa-sign-in fa-lg fa-fw"></i>گزارش گیری</button>
                            </div>
                        </div>

                    </div>

                </form>
                <hr />
                <div id="TableReport" style="height:525px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md">

                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px; margin: 5px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeDftr" class="selectorange">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                            <label id="sumA"></label>
                        </div>
                    </div>


                    <div class="col-md-4" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageDftr">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageDftr">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a> <b data-bind="text: currentPageIndexDftr() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageDftr">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageDftr">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-top: 10px; text-align:left;">
                        <span>تعداد رکورد ها = <span id="CountRecord">0</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Acc" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست حساب ها</h4>
                <a id="refreshacc">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="24" height="24" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <br />
                <div style="height:420px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-hover table-striped">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableAcc">
                                <th data-column="Code">
                                    کد
                                    <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeCode }"></i>
                                    </span>
                                </th>
                                <th data-column="Name">
                                    نام
                                    <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeName }"></i>
                                    </span>
                                </th>
                                <th data-column="Spec">
                                    ملاحظات
                                    <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                        <i data-bind="attr: { class: iconTypeSpec }"></i>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageAcc" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind="click: $parent.selectAcc">
                                <td data-bind="text: Code"></td>
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Spec"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;">
                                <td style="padding: 0px 3px;"><input data-bind="value: filterAcc0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterAcc1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                <td style="padding: 0px 3px;"><input data-bind="value: filterAcc2, valueUpdate: 'afterkeydown'" type="text" class="form-control  float" style="height: 2.4rem;" /> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeAcc">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: left; margin-top: 10px;">
                        <a data-bind="click: firstPageAcc">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageAcc">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexAcc() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageAcc">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageAcc">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>



<div class="modal fade" id="modal-Opr" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست پروژه</h4>
                <a id="refreshOpr">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="24" height="24" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableOpr">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageOpr" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddOpr }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterOpr0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterOpr1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterOpr2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllOpr" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllOpr" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedOpr">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListOpr" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeOpr">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexOpr() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Mkz" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست مرکز هزینه</h4>
                <a id="refreshMkz">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="24" height="24" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableMkz">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageMkz" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddMkz }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterMkz0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterMkz1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterMkz2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllMkz" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllMkz" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedMkz">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListMkz" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeMkz">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexMkz() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-AMode" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست نوع سند</h4>
                <a id="refreshAMode">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="24" height="24" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableAMode">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageAMode" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddAMode }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterAMode0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterAMode1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllAMode" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllAMode" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedAMode">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListAMode" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeAMode">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageAMode">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageAMode">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexAMode() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageAMode">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageAMode">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Status" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست وضعیت سند</h4>
                <a id="refreshStatus">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="24" height="24" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableStatus">
                                        <th data-column="Status">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Status' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeStatus }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageStatus" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddStatus }">
                                        <td data-bind="text: Status"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterStatus0, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllStatus" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllStatus" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:455px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedStatus">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>نام</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListStatus" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeStatus">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageStatus">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageStatus">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexStatus() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageStatus">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageStatus">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <div class="table-responsive">
                        <table class="table table-addmin">
                            <thead style="cursor: pointer;">
                                <tr>
                                    <td>ردیف</td>
                                    <td style="width:250px;"> نام ستون</td>
                                    <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                        <label for="AllSettingColumns">انتخاب همه</label>
                                        <input id="AllSettingColumns" type="checkbox" />
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>1</td><td id="TextColumns1"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns1" type="checkbox" /></td></tr>
                                <tr><td>2</td><td id="TextColumns2"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns2" type="checkbox" /></td></tr>
                                <tr><td>3</td><td id="TextColumns3"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns3" type="checkbox" /></td></tr>
                                <tr><td>4</td><td id="TextColumns4"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns4" type="checkbox" /></td></tr>
                                <tr><td>5</td><td id="TextColumns5"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns5" type="checkbox" /></td></tr>
                                <tr><td>6</td><td id="TextColumns6"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns6" type="checkbox" /></td></tr>
                                <tr><td>7</td><td id="TextColumns7"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns7" type="checkbox" /></td></tr>
                                <tr><td>8</td><td id="TextColumns8"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns8" type="checkbox" /></td></tr>
                                <tr><td>9</td><td id="TextColumns9"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns9" type="checkbox" /></td></tr>
                                <tr><td>10</td><td id="TextColumns10"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns10" type="checkbox" /></td></tr>
                                <tr><td>11</td><td id="TextColumns11"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns11" type="checkbox" /></td></tr>
                                <tr><td>12</td><td id="TextColumns12"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns12" type="checkbox" /></td></tr>
                                <tr><td>13</td><td id="TextColumns13"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns13" type="checkbox" /></td></tr>
                                <tr><td>14</td><td id="TextColumns14"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns14" type="checkbox" /></td></tr>
                                <tr><td>15</td><td id="TextColumns15"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns15" type="checkbox" /></td></tr>
                                <tr><td>16</td><td id="TextColumns16"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns16" type="checkbox" /></td></tr>
                                <tr><td>17</td><td id="TextColumns17"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns17" type="checkbox" /></td></tr>
                                <tr><td>18</td><td id="TextColumns18"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns18" type="checkbox" /></td></tr>
                                <tr><td>19</td><td id="TextColumns19"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns19" type="checkbox" /></td></tr>
                                <tr><td>20</td><td id="TextColumns20"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns20" type="checkbox" /></td></tr>
                                <tr><td>21</td><td id="TextColumns21"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns21" type="checkbox" /></td></tr>
                                <tr><td>22</td><td id="TextColumns22"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns22" type="checkbox" /></td></tr>
                                <tr><td>23</td><td id="TextColumns23"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns23" type="checkbox" /></td></tr>
                                <tr><td>24</td><td id="TextColumns24"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns24" type="checkbox" /></td></tr>
                                <tr><td>25</td><td id="TextColumns25"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns25" type="checkbox" /></td></tr>
                                <tr><td>26</td><td id="TextColumns26"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns26" type="checkbox" /></td></tr>
                                <tr><td>27</td><td id="TextColumns27"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns27" type="checkbox" /></td></tr>
                                <tr><td>28</td><td id="TextColumns28"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns28" type="checkbox" /></td></tr>
                                <tr><td>29</td><td id="TextColumns29"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns29" type="checkbox" /></td></tr>
                                <tr><td>30</td><td id="TextColumns30"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns30" type="checkbox" /></td></tr>
                                <tr><td>31</td><td id="TextColumns31"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns31" type="checkbox" /></td></tr>
                                <tr><td>32</td><td id="TextColumns32"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns32" type="checkbox" /></td></tr>
                                <tr><td>33</td><td id="TextColumns33"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns33" type="checkbox" /></td></tr>
                                <tr><td>34</td><td id="TextColumns34"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns34" type="checkbox" /></td></tr>
                                <tr><td>35</td><td id="TextColumns35"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns35" type="checkbox" /></td></tr>
                                <tr><td>36</td><td id="TextColumns36"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns36" type="checkbox" /></td></tr>
                                <tr><td>37</td><td id="TextColumns37"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns37" type="checkbox" /></td></tr>
                                <tr><td>38</td><td id="TextColumns38"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns38" type="checkbox" /></td></tr>
                                <tr><td>39</td><td id="TextColumns39"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns39" type="checkbox" /></td></tr>
                                <tr><td>40</td><td id="TextColumns40"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns40" type="checkbox" /></td></tr>
                                <tr><td>41</td><td id="TextColumns41"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns41" type="checkbox" /></td></tr>
                                <tr><td>42</td><td id="TextColumns42"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns42" type="checkbox" /></td></tr>
                                <tr><td>43</td><td id="TextColumns43"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns43" type="checkbox" /></td></tr>
                                <tr><td>44</td><td id="TextColumns44"></td><td style="padding: 0px 10px;text-align: left;"><input id="SettingColumns44" type="checkbox" /></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveMove" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $('#btnaztarikh').MdPersianDateTimePicker({
            targetTextSelector: '#aztarikh',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btntatarikh').MdPersianDateTimePicker({
            targetTextSelector: '#tatarikh',
            dateFormat: 'yyyy-MM-dd'
        });

        $(function () {
            $('.dd').nestable();
            $('.dd').on('change', function () {
                var $this = $(this);
                var serializedData = window.JSON.stringify($($this).nestable('serialize'));
                $this.parents('div.body').find('textarea').val(serializedData);
            });
        });
    </script>
    <script src="~/Scripts/R_AFI_Dftr.js"></script>
}
