
@{
    ViewBag.Title = "FDocR_S";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}




<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card"  style="margin-top:0px;">
            <div class="header">
                <h2><strong>ريز گردش اسناد فروش</strong></h2>
                <div class="row header-dropdown m-r--5">
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                    <a id="Print" style="margin-left: 10px;">
                        <img src="/Content/img/sanad/streamline-icon-print-text@48x48.png" width="20" height="20">
                    </a>
                </div>
            </div>


            <div class="body">
                <br />
                <br />
                <form class="clearfix">
                    <div class="row form-inline ">
                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnaztarikh">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="aztarikh" data-bind="value:AzDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">از تاریخ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btntatarikh">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="tatarikh" data-bind="value:TaDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">تا تاریخ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <a id="btnInv" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Inv">
                                            <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                        </a>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="nameInv" class="form-control" readonly />
                                            <label class="form-label">انبار</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <a id="btnKGru" class="dropdown-toggle" data-toggle="modal" data-target="#modal-KGru">
                                            <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                        </a>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="nameKGru" class="form-control" readonly />
                                            <label class="form-label"> گروه کالا</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <a id="btnkala" class="dropdown-toggle" data-toggle="modal" data-target="#modal-kala">
                                            <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                        </a>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="nameKala" class="form-control" readonly />
                                            <label class="form-label"> کالا</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row form-inline ">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                <div class="form-group">
                                    <select id="modeCode"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Cust">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameCust" class="form-control" readonly />
                                        <label class="form-label"> خریدار</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnkala" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Opr">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameOpr" class="form-control" readonly />
                                        <label class="form-label"> پروژه</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnkala" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Mkz">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameMkz" class="form-control" readonly />
                                        <label class="form-label"> مرکز هزینه</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="pull-left">
                        <button type="button" id="CreateReport" class="btn btn-primary"><i class="fa fa-sign-in fa-lg fa-fw"></i>گزارش گیری</button>
                    </div>
                </form>
                <hr />
                <div id="TableReport" style="height:410px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md">


                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px; margin: 5px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeFDocR_S" class="selectorange">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                            <label id="sumA"></label>
                        </div>
                    </div>


                    <div class="col-md-4" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageFDocR_S">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageFDocR_S">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a> <b data-bind="text: currentPageIndexFDocR_S() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageFDocR_S">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageFDocR_S">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-top: 10px; text-align:left;">
                        <span>تعداد رکورد ها = <span id="CountRecord">0</span></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-Inv" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست انبار ها</h4>
                <a id="refreshInv">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableInv">
                                        <th data-column="Code">
                                            کد انبار
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام انبار
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageInv" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddInv }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterInv0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterInv1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterInv2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllInv" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllInv" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedInv">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد انبار</th>
                                        <th>نام انبار</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListInv" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeInv">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageInv">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageInv">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexInv() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageInv">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageInv">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-kala" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست کالا ها</h4>
                <a id="refreshkala">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableKala">
                                        <th data-column="Code">
                                            کد کالا
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام کالا
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="FanniNo">
                                            شماره فنی
                                            <span data-bind="attr: { class: currentColumn() == 'FanniNo' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeFanniNo }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageKala" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddKala }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: FanniNo"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKala0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKala1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKala2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKala3, valueUpdate: 'afterkeydown'" type="text" class="form-control  float" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllKala" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllKala" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedKala">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد کالا</th>
                                        <th>نام کالا</th>
                                        <th>شماره فنی</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListKala" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeKala">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageKala">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageKala">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexKala() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageKala">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageKala">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-Cust" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست خریداران</h4>
                <a id="refreshCust">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableCust">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageCust" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddCust }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterCust0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterCust1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterCust2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllCust" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllCust" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedCust">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListCust" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeCust">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexCust() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-KGru" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست گروه کالا</h4>
                <a id="refreshKGru">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableKGru">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageKGru" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddKGru }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKGru0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKGru1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKGru2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllKGru" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllKGru" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedKGru">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListKGru" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeKGru">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageKGru">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageKGru">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexKGru() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageKGru">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageKGru">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Opr" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست پروژه</h4>
                <a id="refreshOpr">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableOpr">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageOpr" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddOpr }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterOpr0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterOpr1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterOpr2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllOpr" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllOpr" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedOpr">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListOpr" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeOpr">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexOpr() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageOpr">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Mkz" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست مرکز هزینه</h4>
                <a id="refreshMkz">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableMkz">
                                        <th data-column="SortCode">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'SortCode' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageMkz" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddMkz }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterMkz0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterMkz1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterMkz2, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllMkz" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllMkz" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableSelectedMkz">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد</th>
                                        <th>نام</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListMkz" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeMkz">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">

                        <a data-bind="click: firstPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexMkz() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageMkz">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts{
    <script type="text/javascript">

        $('#btnaztarikh').MdPersianDateTimePicker({
            targetTextSelector: '#aztarikh',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $('#btntatarikh').MdPersianDateTimePicker({
            targetTextSelector: '#tatarikh',
            dateFormat: 'yyyy-MM-dd',
            Placement: 'bottom', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: true, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
        });

        $(function () {
            $('.dd').nestable();
            $('.dd').on('change', function () {
                var $this = $(this);
                var serializedData = window.JSON.stringify($($this).nestable('serialize'));
                $this.parents('div.body').find('textarea').val(serializedData);
            });
        });
    </script>
    <script src="~/Scripts/R_AFI_FDocR_S.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}

