
@{
    ViewBag.Title = "IDocR";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <strong id="">ريز گردش اسناد انبارداری</strong>
            </div>
            <div class="body">
                <form class="clearfix">
                    <div class="row form-inline ">
                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnaztarikh">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="aztarikh" data-bind="value:AzDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">از تاریخ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btntatarikh">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="tatarikh" data-bind="value:TaDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">تا تاریخ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <a id="btnInv" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Inv">
                                            <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                        </a>
                                    </div>
                                    <div class="form-group form-float" style="margin-left: 250px;">
                                        <div class="form-line focused fix">
                                            <input id="nameInv" class="form-control" readonly />
                                            <label class="form-label">انبار</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <a id="btnkala" class="dropdown-toggle" data-toggle="modal" data-target="#modal-kala">
                                            <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                        </a>
                                    </div>
                                    <div class="form-group form-float" style="margin-left: 250px;">
                                        <div class="form-line focused fix">
                                            <input id="nameKala" class="form-control" readonly />
                                            <label class="form-label"> کالا</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <a id="btnkala" class="dropdown-toggle" data-toggle="modal" data-target="#modal-kala">
                                            <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                        </a>
                                    </div>
                                    <div class="form-group form-float" style="margin-left: 250px;">
                                        <div class="form-line focused fix">
                                            <input id="nameKala" class="form-control" readonly />
                                            <label class="form-label"> تحویل</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left">
                                <button type="button" id="CreateReport" class="btn btn-primary"><i class="fa fa-sign-in fa-lg fa-fw"></i>گزارش گیری</button>
                            </div>
                        </div>
                    </div>
                </form>







            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $('#btnaztarikh').MdPersianDateTimePicker({
            targetTextSelector: '#aztarikh',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btntatarikh').MdPersianDateTimePicker({
            targetTextSelector: '#tatarikh',
            dateFormat: 'yyyy-MM-dd'
        });

        $(function () {
            $('.dd').nestable();
            $('.dd').on('change', function () {
                var $this = $(this);
                var serializedData = window.JSON.stringify($($this).nestable('serialize'));
                $this.parents('div.body').find('textarea').val(serializedData);
            });
        });
    </script>
    <script src="~/Scripts/IDocR.js"></script>
}

