@using WebKarbord.Controllers.Unit;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header center">
                <h4> <span>کاربر گرامی </span><span id="persionUserName"></span><span>خوش آمدید.</span></h4>
            </div>
            <!--  <div class="body center">
          <span>از سمت راست صفحه به بخش مورد نظر وارد شوید</span>
      </div>-->
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="margin-top: 1px; margin-bottom:0px;">
                <!--<img src="~/Conten/img/Home/Desktop1.jpg" style="border-radius: 30px;" />-->
                <img src="~/Content/img/Home/Desktop.jpg"  style="border-radius: 30px;" />

            </div>
        </div>
    </div>
</div>
