@using WebKarbord.Controllers.Unit;
@{

    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="card" style="margin-bottom: 0px;margin-top: 0px;">
            <div class="header">
                <div class="row">
                    <div class="col">
                        <h4 id="userNameHome"></h4>
                    </div>
                    <div class="col">
                        <h4 id="dateTimeHome" style="text-align: end;">زمان سرور</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="~/Content/img/Home/Desktop.jpg"  style="border-radius: 25px;"/>

        </div>
    </div>
</div>



@section scripts{

    <script src="~/Scripts/HomeIndex.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}

