@using WebKarbord.Controllers.Unit;
@{
    ViewBag.Title = "تنظیمات";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<div class="header center">
    <h3 data-bind="text:translate('تنظیمات نرم افزار')"></h3>
</div>

<div class="row">
    <div class="col-lg col-md col-sm col-xs">
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-8">
        <div class="card" style=" box-shadow: none;  background-color: #f0f8ff00;margin-bottom:0px">

            <div class="body">
                <div class="form-group form-float" style=" border: 1px solid white;
                                                           border-radius: 30px;
                                                           padding: 20px;
                                                           background-color: white;
                                                           box-shadow: 5px 5px 20px 1px #4048524f;">
                    <div class="row form-line">

                        <div class="col-md">
                            <label id="DropAce" class="form-control" style="text-indent: 20px;direction: rtl;"></label>
                            <img class="form-label" src="~/Content/img/Setting/streamline-icon-cd-partition@48x48.png" width="16" height="16" style="top: 0px;" />
                        </div>
                    </div>
                </div>

                <div class="form-group form-float" style=" border: 1px solid white;
                                                                border-radius: 30px;
                                                                padding: 20px;
                                                                background-color: white;
                                                                box-shadow: 5px 5px 20px 1px #4048524f;">
                    <div class="form-line">
                        <select id="DropGroup" class="form-control" style="text-indent: 20px;direction: rtl;">
                            <option value="0">گروه را انتخاب کنید</option>
                        </select>
                        <img class="form-label" src="~/Content/img/Setting/streamline-icon-checklist@48x48.png" width="16" height="16" style="top: 0px;" />
                    </div>
                </div>

                <div class="form-group form-float" style=" border: 1px solid white;
                                                                border-radius: 30px;
                                                                padding: 20px;
                                                                background-color: white;
                                                                box-shadow: 5px 5px 20px 1px #4048524f;">
                    <div class="row form-line">

                        <div class="col-md">
                            <select id="DropSal" class="form-control" style="text-indent: 20px;direction: rtl;">
                                <option value="0">سال را انتخاب کنید</option>
                            </select>
                            <img class="form-label" src="~/Content/img/Setting/streamline-icon-calendar-3@48x48.png" width="16" height="16" style="top: 0px;" />
                        </div>
                    </div>
                </div>
                
                
                <!--<div class="row " style="margin-right: 5px;margin-left: 5px;">
                    <button  data-bind="text:translate('0')" type="button" id="SaveParam" class="btn btn-primary btn-block  col-lg-6 col-md-6 col-sm-6 col-xs-6" style="background-color: #eb8121 !important; margin-top: 0px; margin-left:0px;left: 3px">ورود</button>
                    <button  data-bind="text:translate('0')" type="button" id="LogOutSetting" class="btn btn-primary btn-block  col-lg-6 col-md-6 col-sm-6 col-xs-6" style="background-color: #eb8121 !important; margin-top: 0px; margin-left:0px;right: 3px">خروج</button>
                </div>-->



                <div class="row">

                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 8px;">
                        <button id="SaveParam" class="btn btn-primary btn-block " style="background-color: #eb8121 !important; padding-left: 0px; padding-right: 0px">
                            ورود
                        </button>
                    </div>

                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button id="LogOutSetting" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;  padding-left: 0px; padding-right: 0px">
                            خروج
                        </button>
                    </div>
                </div>


            </div>

        </div>
        

        <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="information">
            <div class="card">
                <div class="header">
                    <h2><strong>اطلاعات</strong></h2>
                    <div class="row header-dropdown m-r--5">
                    </div>
                </div>
                <br />
                <div class="body">
                    <div class="col-xs-6">
                        <p class="lead">اطلاعات نرم افزار انتخاب شده</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:50%">نام نرم افزار</th>
                                        <td id="param1"></td>
                                    </tr>
                                    <tr>
                                        <th>گروه</th>
                                        <td id="param2"></td>
                                    </tr>
                                    <tr>
                                        <th>سال</th>
                                        <td id="param3"></td>
                                    </tr>
                                    <tr>
                                        <th>تاریخ شروع سال مالی</th>
                                        <td id="param4"></td>
                                    </tr>
                                    <tr>
                                        <th>تاریخ پایان سال مالی</th>
                                        <td id="param5"></td>
                                    </tr>
                                    <tr>
                                        <th>دقت اعشار مبلغ</th>
                                        <td id="param6"></td>
                                    </tr>
                                    <tr>
                                        <th>انبار پیش فرض</th>
                                        <td id="param7"></td>
                                    </tr>
                                    <tr>
                                        <th> گروه قیمت پیش فرض فروش</th>
                                        <td id="param8"></td>
                                    </tr>
                                    <tr>
                                        <th> گروه قیمت پیش فرض خرید</th>
                                        <td id="param9"></td>
                                    </tr>
                                    <tr>
                                        <th> گروه قیمت پیش فرض اسناد وارده به انبار</th>
                                        <td id="param10"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-8">
        <div class="form-group form-float" style="  border: 1px solid white;
                                                    border-radius: 30px;
                                                    padding: 20px;
                                                    background-color: white;
                                                    box-shadow: 5px 5px 20px 1px #4048524f;
                                                    height: 260px;
                                                    margin-top: 30px;
                                                    margin-bottom: 18px;">
            <div class="row form-line focused">
                <div class="col-md">
                    <select id="NewTab" class="form-control" style="text-indent: 20px;direction: rtl;">
                        <option value="0">باز شدن صفحات در برگ نشان (Tab) فعلی</option>
                        <option value="1">باز شدن صفحات در برگ نشان (Tab) جدید</option>
                    </select>
                    <img class="form-label" src="~/Content/img/tab-plus.png" width="20" height="20" style="top: 0px;" />
                </div>
            </div>
        </div>


        <div class="row">

            <div id="show_RepairDatabase" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 8px;">
                <button id="repairDatabase" class="btn btn-primary btn-block " style="background-color: #ffffff  !important; padding-left: 0px; padding-right: 0px">
                    <img src="~/Content/img/repair-sal.svg" style="width:18px" />
                </button>
            </div>

            <div id="show_RepairDatabaseConfig" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button id="repairDatabaseConfig" class="btn btn-primary btn-block" style="background-color: #ffffff  !important;  padding-left: 0px; padding-right: 0px">
                    <img src="~/Content/img/repair-config.svg" style="width:18px" />
                </button>
            </div>
        </div>












    </div>
    <div class="col-lg col-md col-sm col-xs">
    </div>
</div>

@section scripts{
    <script src="~/Scripts/SelectProgram.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}
