@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-Bold-FD-WOL.eot?#') format('eot'), url('../fonts/Vazir-Bold-FD-WOL.woff') format('woff'), url('../fonts/Vazir-Bold-FD-WOL.ttf') format('truetype')
}

.material-half-bg {
    height: 100vh;
    background-color: #e7e7e7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

body {
    font-family: 'vazir'
}


th {
    background-color: #0d00ffba;
    color: white
}

textarea {
    resize: none
}

.matched {
    background-color: yellow
}

.modalTwo {
    overflow-y: hidden
}

.modalTwo {
    padding-right: 0px
}

.login-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 95vh
}

    .login-content .logo {
        margin-bottom: 40px;
        font-family: vazir;
        color: #fff
    }

        .login-content .logo h1 {
            font-size: 52px;
            font-weight: 400
        }

    .login-content .login-box {
        position: relative;
        min-width: 400px;
        min-height: 390px;
        background-color: #fff;
        -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
        -webkit-perspective: 800px;
        perspective: 800px;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out
    }

        .login-content .login-box .login-head {
            margin-top: 0;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            text-align: center
        }

        .login-content .login-box label {
            color: #666;
            font-weight: 700
        }

        .login-content .login-box .utility {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 1px;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .login-content .login-box .btn-container {
            margin-bottom: 0
        }

        .login-content .login-box .login-form, .login-content .login-box .forget-form {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 40px;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out
        }

        .login-content .login-box .forget-form {
            opacity: 0;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg)
        }

        .login-content .login-box.flipped {
            min-height: 300px
        }

            .login-content .login-box.flipped .login-form {
                opacity: 0;
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg)
            }

            .login-content .login-box.flipped .forget-form {
                opacity: 1;
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg)
            }

@media (max-width: 351px) {
    .login-content .login-box {
        min-width: 100%
    }

        .login-content .login-box .login-form, .login-content .login-box .forget-form {
            width: 100%
        }
}

.content {
    position: relative;
    background: #fff;
    border-radius: 3px;
    border-top: 3px solid #EC7063;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

Fit {
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px
}

FitDate, .col-md-1 {
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
    width: 11%
}
