
@{
    ViewBag.Title = "ErjDocB_Last";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="margin-top:0px;">
            <!--border: 1px solid #eb8020;-->

            <div class="header">
                <h2><strong>ليست ارجاعات پرونده ها</strong></h2>
                <div class="row header-dropdown m-r--5">
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                </div>
            </div>
            <br />
            <br />

            <div class="body" ">
                <form class="clearfix">
                    <div class="row form-inline ">
                        <div class="col-sm-2">
                            <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                <div class="form-group">
                                    <select id="ErjaMode"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                <div class="form-group">
                                    <select id="DocBMode"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnazDocDate">
                                                <img src="/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="azDocDate" data-bind="value:AzDocDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for=""> از تاریخ پرونده</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btntaDocDate">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="taDocDate" data-bind="value:TaDocDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">تا تاریخ پرونده</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                <div class="form-group">
                                    <select id="status" data-bind="
                                   options: ErjStatusList,
                                   optionsText: function(item) {return item.Status},
                                   optionsValue: 'Status'"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row form-inline">

                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnErjCust" class="dropdown-toggle" data-toggle="modal" data-target="#modal-ErjCust">
                                        <img src="~/Content/img/list/man.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameErjCust" class="form-control" readonly />
                                        <label class="form-label"> مشتری</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <a id="btnKhdt" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Khdt">
                                        <img src="~/Content/img/list/SearchKala.png" class="icon" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line focused fix">
                                        <input id="nameKhdt" class="form-control" readonly />
                                        <label class="form-label"> نوع کار</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnazRjDate">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="azRjDate" data-bind="value:AzRjDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for=""> از تاریخ ارجاع</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btntaRjDate">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="taRjDate" data-bind="value:TaRjDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">تا تاریخ ارجاع</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 form-inline">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btnazMhltDate">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="azMhltDate" data-bind="value:AzMhltDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for=""> از مهلت ارجاع</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-btn">
                                            <a id="btntaMhltDate">
                                                <img src="~/Content/img/list/calendar.png" class="icon" height="20" width="20" />
                                            </a>
                                        </span>
                                    </div>
                                    <div class="form-group form-float">
                                        <div class="form-line focused fix">
                                            <input id="taMhltDate" data-bind="value:TaMhltDate" class="form-control date" type="text" maxlength="10">
                                            <label class="form-label" for="">تا مهلت ارجاع</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row form-inline">
                        <p>ارجاع شونده</p>
                        <div class="col-sm-3">
                            <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                <div class="form-group">
                                    <select id="ToUser" data-bind="
                                   options: ErjUsersList,
                                   optionsText: function(item) {return item.Name},
                                   optionsValue: 'Code',
                                   optionsCaption: ''"></select>
                                </div>
                            </div>
                        </div>

                        <p>ارجاع دهنده</p>
                        <div class="col-sm-3">
                            <div class="form-inline" style="margin-left: 5px; margin-right: 5px;">
                                <div class="form-group">
                                    <select id="FromUser" data-bind="
                                   options: ErjUsersList,
                                   optionsText: function(item) {return item.Name},
                                   optionsValue: 'Code',
                                   optionsCaption: ''"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" id="ViewSrchSt">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="SrchSt" class="form-control string" />
                                    <label class="form-label active">جستجو برای</label>
                                </div>
                            </div>
                        </div>

                        <div class="pull-left">
                            <button type="button" id="CreateReport" class="btn btn-primary"><i class="fa fa-sign-in fa-lg fa-fw"></i>گزارش گیری</button>
                        </div>
                    </div>
                </form>

                <hr />
                <div id="TableReport" style="height:410px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md">

                </div>
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px; margin: 5px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeDocB_Last" class="selectorange">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                            <label id="sumA"></label>
                        </div>
                    </div>


                    <div class="col-md-4" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a> <b data-bind="text: currentPageIndexDocB_Last() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageDocB_Last">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>

                    <div class="col-md-4" style="margin-top: 10px; text-align:left;">
                        <span>تعداد رکورد ها = <span id="CountRecord">0</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modal-ErjCust" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">لیست مشتریان</h4>
                <a id="refreshErjCust">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableErjCust">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableErjCust">
                                        <th data-column="Code">
                                            کد مشتری
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام مشتری
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageErjCust" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddErjCust }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjCust0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjCust1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterErjCust2, valueUpdate: 'afterkeydown'" type="text" class="form-control  float" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2 centered">
                        <div class="row centered">
                            <button data-bind="click: AddAllErjCust" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllErjCust" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableListErjCust">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد شخص</th>
                                        <th>نام شخص</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListErjCust" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeErjCust">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">
                        <a data-bind="click: firstPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexErjCust() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageErjCust">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Khdt" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">نوع کار</h4>
                <a id="refreshKhdt">
                    <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped">
                                <thead style="cursor: pointer;">
                                    <tr data-bind="click: sortTableKhdt">
                                        <th data-column="Code">
                                            کد
                                            <span data-bind="attr: { class: currentColumn() == 'Code' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeCode }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Name">
                                            نام
                                            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeName }"></i>
                                            </span>
                                        </th>
                                        <th data-column="Spec">
                                            ملاحظات
                                            <span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }">
                                                <i data-bind="attr: { class: iconTypeSpec }"></i>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: currentPageKhdt" style="cursor: default;">
                                    <tr data-bind=" event: { dblclick: $parent.AddKhdt }">
                                        <td data-bind="text: Code"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Spec"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #efb68399;">
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKhdt0, valueUpdate: 'afterkeydown'" type="text" class="form-control intandline" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKhdt1, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;" /> </td>
                                        <td style="padding: 0px 3px;"><input data-bind="value: filterKhdt2, valueUpdate: 'afterkeydown'" type="text" class="form-control  float" style="height: 2.4rem;" /> </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2 centered">
                        <div class="row centered">

                            <button data-bind="click: AddAllKhdt" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 140px 30px 0px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </button>
                            <button data-bind="click: DelAllKhdt" class="btn btn-outline-info " style="border: 1px solid #d5741e !important; margin: 80px 30px 30px 10px">
                                <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                            <table class="table table-hover table-striped" id="TableListKhdt">
                                <thead style="cursor: pointer;">
                                    <tr>
                                        <th>کد </th>
                                        <th>نام </th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody id="TableBodyListKhdt" style="cursor: default;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;">
                                <select id="pageSizeSelector" data-bind="value: pageSizeKhdt">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="text-align: center;">
                        <a data-bind="click: firstPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexKhdt() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageKhdt">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-ErjDocErja" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-entesab">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">پرونده</h4>
                <a id="refreshErjCust">

                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">

                            <div class="cardErj">
                                <div class="header" style="background-color: #e37d228f;">
                                    <div class="row form-inline modal-header" style="padding:0px;">
                                        <a id="ShowHideInformation">
                                            <img id="imgInformation" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                        </a>
                                        <h6>اطلاعت پرونده</h6>
                                    </div>
                                </div>
                                <div class="body" style="padding:10px;">
                                    <div>

                                        <div class="row form-inline ">

                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="docno" class="form-control int" readonly />
                                                            <label class="form-label" id="amounttext">شماره</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="tarikh" class="form-control" readonly>
                                                            <label class="form-label">تاریخ</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="docno" class="form-control" readonly/>
                                                            <label class="form-label" id="amounttext">مهلت</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="tarikh" class="form-control" readonly>
                                                            <label class="form-label">نوع</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="docno" class="form-control" readonly />
                                                            <label class="form-label" id="amounttext">اقدام</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="tarikh" class="form-control" readonly>
                                                            <label class="form-label">تنظیم</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div id="panelInformation">
                                                <div class="row col-md-12">
                                                    <div class="col-sm-4">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <a id="btnkala" class="dropdown-toggle" data-toggle="modal" data-target="#modal-kala">
                                                                    <img src="/Content/img/list/SearchKala.png" class="icon" height="20" width="20">
                                                                </a>
                                                            </div>

                                                            <div class="form-group form-float">
                                                                <div class="form-line focused fix">
                                                                    <input id="nameKala" class="form-control" readonly />
                                                                    <label class="form-label"> پرونده های مرتبط</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="docno" class="form-control" readonly/>
                                                                <label class="form-label" id="amounttext">مشتری</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group form-float">
                                                            <div class="form-line focused fix">
                                                                <input type="text" id="tarikh" class="form-control" readonly>
                                                                <label class="form-label">نوع کار</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row col-md-12">
                                                    <div class="form-group form-float">
                                                        <div class="form-line focused fix">
                                                            <input type="text" id="docno" class="form-control" readonly />
                                                            <label class="form-label" id="amounttext">ملاحظات</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="cardErj">
                                    <div class="header" style="background-color:  #e37d228f;">
                                      
                                        
                                        <div class="row form-inline modal-header" style="padding:0px;">
                                            <a id="ShowHideSpec">
                                                <img id="imgSpec" src="~/Content/img/new item/minus-svgrepo-com.svg" style="width:16px" />
                                            </a>
                                            <h6>توضیحات پرونده</h6>
                                        </div>

                                        
                                    </div>
                                    <div class="body" style="padding:10px;">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <a id="btn-eghdamComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">
                                                            اقدام
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="eghdamComm" class="form-control no-resize auto-growth string" placeholder="بدون متن" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <a id="btn-DocDesc" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">
                                                            عمومی
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="docDesc" class="form-control no-resize auto-growth string" placeholder="بدون متن" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <a id="btn-specialComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">
                                                            مدیران
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="specialComm" class="form-control no-resize auto-growth string" placeholder="بدون متن" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 10px;">
                                                        <a id="btn-finalComm" class="dropdown-toggle" data-toggle="modal" data-target="#modal-Comm">
                                                            نهایی
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="form-group" style="margin-bottom: 0.5rem;">
                                                            <div class="form-line">
                                                                <textarea rows="1" id="finalComm" class="form-control no-resize auto-growth string" placeholder="بدون متن" readonly></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="header" style="background-color:  #e37d228f;">
                                    <h6>نتیجه</h6>
                                </div>
                                <div class="body" style="padding:10px;">

                                    <div class="form-group" style="margin-bottom: 0.5rem;">
                                        <div class="form-line">
                                            <textarea rows="8" id="Comm" class="form-control no-resize auto-growth string" placeholder="بدون متن"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="BodyErjDocErja" style="height:600px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">



                            <!--  <div style="border-top: 0px solid #fff !important;">
                                  <div>
                                      <div class="cardErj">
                                          <div class="header" style="background-color: #e37d228f;">
                                              <div class="form-inline">
                                                  <div class="col-md-9 form-inline">
                                                      <h6>1 ) سوپروایزر</h6>
                                                      <img src="~/Content/img/new item/arrow-back-svgrepo-com.svg" style="width: 14px;margin-left: 3px; margin-right: 3px;" />
                                                      <h6>حميد رضا حجازي</h6>
                                                  </div>
                                                  <div class="col-md-3 form-inline">
                                                      <h6 style="padding-left: 10px">(1:0)</h6>
                                                      <h6>1399/01/12</h6>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="body" style="padding:10px;">
                                              <p>تست </p>
                                              <p>مدیر سیستم به مهندس</p>
                                              <br>
                                              <div style="padding: 3px;margin: 0px 10px 0px 10px;background-color: #5b6775 !important;color: white;border-radius: 10px;">
                                                  <div class=" form-inline">
                                                      <h6> رونوشت به :کاربر 1 امیری</h6>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>-->








                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" id="" class="btn btn-primary"><i class="fa fa-sign-in fa-lg fa-fw"></i>ارجاع</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Comm" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="padding-left: 200px;">توضیحات</h4>
            </div>
            <div class="modal-body">
                <textarea id="comm" rows="20" class="form-control no-resize auto-growth string" placeholder="بدون متن" style="text-align:justify" readonly>
                </textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">

        $('#btnazDocDate').MdPersianDateTimePicker({
            targetTextSelector: '#azDocDate',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btntaDocDate').MdPersianDateTimePicker({
            targetTextSelector: '#taDocDate',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btnazRjDate').MdPersianDateTimePicker({
            targetTextSelector: '#azRjDate',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btntaRjDate').MdPersianDateTimePicker({
            targetTextSelector: '#taRjDate',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btnazMhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#azMhltDate',
            dateFormat: 'yyyy-MM-dd'
        });

        $('#btntaMhltDate').MdPersianDateTimePicker({
            targetTextSelector: '#taMhltDate',
            dateFormat: 'yyyy-MM-dd'
        });

        //'use strict';
        $(function () {
            $('.dd').nestable();
            $('.dd').on('change', function () {
                var $this = $(this);
                var serializedData = window.JSON.stringify($($this).nestable('serialize'));
                $this.parents('div.body').find('textarea').val(serializedData);
            });
        });
    </script>
    <script src="~/Scripts/R_ERJ_ErjDocB_Last.js"></script>
}



