@using WebKarbord.Controllers.Unit;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><strong>لیست <b id="TitleListAnbar"></b></strong></h2>
                <div class="row header-dropdown m-r--5">
                    <!--<a id="Print" style="margin-left: 10px;">
                        <img src="/Content/img/sanad/streamline-icon-print-text@48x48.png" width="20" height="20">
                    </a>-->
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                    <a id="refreshIdocH" class="">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                    </a>
                    <a id="AddNewSanadAnbar" class="">
                        <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" />
                    </a>

                </div>
            </div>
            <br />
            <div class="body">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-inline">
                            <label>انبار</label>
                            <div class="col-md-10" style="text-align: center;">
                                <select id="invSelect" data-bind="options: InvList,
                               optionsText: function(item) {return item.Name},
                               optionsValue: 'Code',
                               value: InvCode,
                               optionsCaption: OptionsCaptionAnbar(),
                               event:{ change: $root.PageCountView}"></select>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                         <div class="input-group">
                             <div class="form-group form-float">
                                 <div class="form-line">
                                     <input data-bind="value: filterIDocH, valueUpdate: 'afterkeydown'" id="searchIDocH" class="form-control" />
                                     <label class="form-label">عنوان جستجو را وارد کنید</label>
                                 </div>
                                 <div class="help-info"><label id="allSearchIDocHText">جستجو بر اساس همه موارد</label></div>
                             </div>
                             <div class="input-group-addon">
                                 <label class="form-check-label">
                                     <input class="form-check-input" id="allSearchIDocH" type="checkbox" value="" checked>
                                     <span class="form-check-sign">
                                         <span class="check"></span>
                                     </span>
                                 </label>
                             </div>
                         </div>
                     </div> -->

                </div>
                <br />

                <div id="TableList" style="height:400px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md">
                    <table class="table table-hover">
                        <thead style="cursor: pointer;">
                            <tr data-bind="click: sortTableIDocH">
                                <th data-column="DocNo">
                                    <span data-column="DocNo">شماره سند</span><span data-bind="attr: { class: currentColumn() == 'DocNo' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeDocNo }" data-column="DocNo" class=""></i> </span>
                                </th>
                                <th data-column="DocDate"><span data-column="DocDate">تاریخ سند</span><span data-bind="attr: { class: currentColumn() == 'DocDate' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeDocDate }" data-column="DocDate" class=""></i> </span> </th>
                                <th data-column="InvName"><span data-column="InvName">نام انبار</span><span data-bind="attr: { class: currentColumn() == 'InvName' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeInvName }" data-column="InvName" class=""></i> </span> </th>
                                <th data-column="ThvlName"><span data-column="ThvlName">نام تحویل دهنده/گیرنده</span><span data-bind="attr: { class: currentColumn() == 'ThvlName' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeThvlName }" data-column="ThvlName" class=""></i> </span> </th>
                                <th data-column="ModeName"><span data-column="ModeName">نوع سند</span><span data-bind="attr: { class: currentColumn() == 'ModeName' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeModeName }" data-column="ModeName" class=""></i> </span> </th>
                                <th data-column="Spec"><span data-column="Spec">ملاحظات</span><span data-bind="attr: { class: currentColumn() == 'Spec' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeSpec }" data-column="Spec" class=""></i> </span> </th>
                                <th data-column="Status"><span data-column="Status">وضعیت</span><span data-bind="attr: { class: currentColumn() == 'Status' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeStatus }" data-column="Status" class=""></i> </span> </th>
                                <th data-column="Eghdam"><span data-column="Eghdam">اقدام کننده</span><span data-bind="attr: { class: currentColumn() == 'Eghdam' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeEghdam }" data-column="Eghdam" class=""></i> </span> </th>
                                <th data-column="Tanzim"><span data-column="Tanzim">تنظیم</span><span data-bind="attr: { class: currentColumn() == 'Tanzim' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeTanzim }" data-column="Tanzim" class=""></i> </span> </th>
                                <th data-column="Taeed"><span data-column="Taeed">تایید</span><span data-bind="attr: { class: currentColumn() == 'Taeed' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeTaeed }" data-column="Taeed" class=""></i> </span> </th>
                                <th data-column="SerialNumber"><span data-column="SerialNumber">شماره مبنا</span><span data-bind="attr: { class: currentColumn() == 'SerialNumber' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeSerialNumber }" data-column="SerialNumber" class=""></i> </span> </th>
                                <th hidden="" data-column="F01"><span data-column="F01">0</span><span data-bind="attr: { class: currentColumn() == 'F01' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF01 }" data-column="F01" class=""></i> </span> </th>
                                <th hidden="" data-column="F02"><span data-column="F02">0</span><span data-bind="attr: { class: currentColumn() == 'F02' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF02 }" data-column="F02" class=""></i> </span> </th>
                                <th hidden="" data-column="F03"><span data-column="F03">0</span><span data-bind="attr: { class: currentColumn() == 'F03' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF03 }" data-column="F03" class=""></i> </span> </th>
                                <th hidden="" data-column="F04"><span data-column="F04">0</span><span data-bind="attr: { class: currentColumn() == 'F04' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF04 }" data-column="F04" class=""></i> </span> </th>
                                <th hidden="" data-column="F05"><span data-column="F05">0</span><span data-bind="attr: { class: currentColumn() == 'F05' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF05 }" data-column="F05" class=""></i> </span> </th>
                                <th hidden="" data-column="F06"><span data-column="F06">0</span><span data-bind="attr: { class: currentColumn() == 'F06' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF06 }" data-column="F06" class=""></i> </span> </th>
                                <th hidden="" data-column="F07"><span data-column="F07">0</span><span data-bind="attr: { class: currentColumn() == 'F07' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF07 }" data-column="F07" class=""></i> </span> </th>
                                <th hidden="" data-column="F08"><span data-column="F08">0</span><span data-bind="attr: { class: currentColumn() == 'F08' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF08 }" data-column="F08" class=""></i> </span> </th>
                                <th hidden="" data-column="F09"><span data-column="F09">0</span><span data-bind="attr: { class: currentColumn() == 'F09' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF09 }" data-column="F09" class=""></i> </span> </th>
                                <th hidden="" data-column="F10"><span data-column="F10">0</span><span data-bind="attr: { class: currentColumn() == 'F10' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF10 }" data-column="F10" class=""></i> </span> </th>
                                <th hidden="" data-column="F11"><span data-column="F11">0</span><span data-bind="attr: { class: currentColumn() == 'F11' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF11 }" data-column="F11" class=""></i> </span> </th>
                                <th hidden="" data-column="F12"><span data-column="F12">0</span><span data-bind="attr: { class: currentColumn() == 'F12' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF12 }" data-column="F12" class=""></i> </span> </th>
                                <th hidden="" data-column="F13"><span data-column="F13">0</span><span data-bind="attr: { class: currentColumn() == 'F13' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF13 }" data-column="F13" class=""></i> </span> </th>
                                <th hidden="" data-column="F14"><span data-column="F14">0</span><span data-bind="attr: { class: currentColumn() == 'F14' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF14 }" data-column="F14" class=""></i> </span> </th>
                                <th hidden="" data-column="F15"><span data-column="F15">0</span><span data-bind="attr: { class: currentColumn() == 'F15' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF15 }" data-column="F15" class=""></i> </span> </th>
                                <th hidden="" data-column="F16"><span data-column="F16">0</span><span data-bind="attr: { class: currentColumn() == 'F16' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF16 }" data-column="F16" class=""></i> </span> </th>
                                <th hidden="" data-column="F17"><span data-column="F17">0</span><span data-bind="attr: { class: currentColumn() == 'F17' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF17 }" data-column="F17" class=""></i> </span> </th>
                                <th hidden="" data-column="F18"><span data-column="F18">0</span><span data-bind="attr: { class: currentColumn() == 'F18' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF18 }" data-column="F18" class=""></i> </span> </th>
                                <th hidden="" data-column="F19"><span data-column="F19">0</span><span data-bind="attr: { class: currentColumn() == 'F19' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF19 }" data-column="F19" class=""></i> </span> </th>
                                <th hidden="" data-column="F20"><span data-column="F20">0</span><span data-bind="attr: { class: currentColumn() == 'F20' ? 'isVisible' : 'isHidden' }" class="isHidden">    <i data-bind="attr: { class: iconTypeF20 }" data-column="F20" class=""></i> </span> </th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentPageIDocH" data-dismiss="modal" style="cursor: default;">
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}">
                                <td data-bind="text: DocNo">100</td>
                                <td data-bind="text: DocDate">1384/03/30</td>
                                <td data-bind="text: InvName">انبار مواد اولیه</td>
                                <td data-bind="text: ThvlName"></td>
                                <td data-bind="text: ModeName">قبض ورود انبار</td>
                                <td data-bind="text: Spec"></td>
                                <td data-bind="text: Status">موقت</td>
                                <td data-bind="text: Eghdam">ACE</td>
                                <td data-bind="text: Tanzim">ACE</td>
                                <td data-bind="text: Taeed"></td>
                                <td data-bind="text: SerialNumber">149</td>
                                <td hidden="" data-bind="text: F01"></td>
                                <td hidden="" data-bind="text: F02"></td>
                                <td hidden="" data-bind="text: F03"></td>
                                <td hidden="" data-bind="text: F04"></td>
                                <td hidden="" data-bind="text: F05"></td>
                                <td hidden="" data-bind="text: F06"></td>
                                <td hidden="" data-bind="text: F07"></td>
                                <td hidden="" data-bind="text: F08"></td>
                                <td hidden="" data-bind="text: F09"></td>
                                <td hidden="" data-bind="text: F10"></td>
                                <td hidden="" data-bind="text: F11"></td>
                                <td hidden="" data-bind="text: F12"></td>
                                <td hidden="" data-bind="text: F13"></td>
                                <td hidden="" data-bind="text: F14"></td>
                                <td hidden="" data-bind="text: F15"></td>
                                <td hidden="" data-bind="text: F16"></td>
                                <td hidden="" data-bind="text: F17"></td>
                                <td hidden="" data-bind="text: F18"></td>
                                <td hidden="" data-bind="text: F19"></td>
                                <td hidden="" data-bind="text: F20"></td>
                                <td>

                                    '<a class="dropdown-toggle" data-toggle="dropdown" style="padding:10px">
                                    '    <span class="caret"></span>
                                    '</a>
                                    '<ul class="dropdown-menu">
                                    '    <li>
                                    '        <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)">
                                    '            انتقال
                                    '            <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">
                                    '        </a>
                                    '    </li>
                                    '    <li> <a href="javascript:void(0);">تغییر وضعیت</a></li>
                                    '    <li> <a href="javascript:void(0);">چاپ</a></li>
                                    '</ul>

                                    <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">
                                        <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">
                                    </a>
                                    <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">
                                        <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">
                                    </a>




                                </td>
                            </tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}" style="color: rgb(122, 11, 238);"><td data-bind="text: DocNo">99</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">موقت</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim">*ACE*</td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">147</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">98</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">تصویب</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim">ACE</td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">146</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">97</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName">کالای ضایعاتی</td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec">5145454</td><td data-bind="text: Status">تصویب</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim">ACE</td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">145</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">96</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">تصویب</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim">ACE</td><td data-bind="text: Taeed">ACE</td><td data-bind="text: SerialNumber">144</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">95</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">موقت</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim"></td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">143</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">94</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">موقت</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim"></td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">142</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">93</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">موقت</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim">ACE</td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">141</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">92</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">موقت</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim">ACE</td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">140</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                            <tr data-bind=" css: { matched: $data === $root.firstMatch() }, style: { color : Tanzim.substring(0, 1) == '*' &amp;&amp;  Tanzim.substring(Tanzim.length - 1 , Tanzim.length) == '*' ? '#7a0bee' : Status == 'باطل' ? 'red' : null}"><td data-bind="text: DocNo">91</td><td data-bind="text: DocDate">1384/03/30</td><td data-bind="text: InvName">انبار مواد اولیه</td><td data-bind="text: ThvlName"></td><td data-bind="text: ModeName">قبض ورود انبار</td><td data-bind="text: Spec"></td><td data-bind="text: Status">موقت</td><td data-bind="text: Eghdam">ACE</td><td data-bind="text: Tanzim"></td><td data-bind="text: Taeed"></td><td data-bind="text: SerialNumber">139</td><td hidden="" data-bind="text: F01"></td><td hidden="" data-bind="text: F02"></td><td hidden="" data-bind="text: F03"></td><td hidden="" data-bind="text: F04"></td><td hidden="" data-bind="text: F05"></td><td hidden="" data-bind="text: F06"></td><td hidden="" data-bind="text: F07"></td><td hidden="" data-bind="text: F08"></td><td hidden="" data-bind="text: F09"></td><td hidden="" data-bind="text: F10"></td><td hidden="" data-bind="text: F11"></td><td hidden="" data-bind="text: F12"></td><td hidden="" data-bind="text: F13"></td><td hidden="" data-bind="text: F14"></td><td hidden="" data-bind="text: F15"></td><td hidden="" data-bind="text: F16"></td><td hidden="" data-bind="text: F17"></td><td hidden="" data-bind="text: F18"></td><td hidden="" data-bind="text: F19"></td><td hidden="" data-bind="text: F20"></td><td>   <a id="UpdateFactor" data-bind="click: $root.UpdateHeader">       <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px">   </a>   <a id="DeleteIDocH" data-bind="click: $root.DeleteIDocH, visible: $root.ShowAction(Eghdam)">      <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">   </a><ul class="header-dropdown m-r--5">    <li class="dropdown">        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">            <i class="material-icons">more_vert</i>        </a>        <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 27px, 0px);">            <li>                <a href="javascript:void(0);">تغییر وضعیت</a>            </li>            <li>             <a id="MoveSanad" data-bind="click: $root.MoveSanad  , visible: $root.ShowMove(Eghdam)"> انتقال                <img src="/Content/img/sanad/synchronize-arrows-square-warning.png" width="16" height="16" style="margin-left:10px">             </a>            </li>            <li>                <a href="javascript:void(0);">چاپ</a>            </li>        </ul>    </li></ul></td></tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color: #efb68399;"><td style="padding: 0px 3px;"><input data-bind="value: filterDocNo, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterDocDate, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterInvName, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterThvlName, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterModeName, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterSpec, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterStatus, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterEghdam, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterTanzim, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterTaeed, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td style="padding: 0px 3px;"><input data-bind="value: filterSerialNumber, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF01, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF02, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF03, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF04, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF05, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF06, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF07, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF08, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF09, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF10, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF11, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF12, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF13, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF14, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF15, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF16, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF17, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF18, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF19, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td><td hidden="" style="padding: 0px 3px;"><input data-bind="value: filterF20, valueUpdate: 'afterkeydown'" type="text" class="form-control" style="height: 2.4rem;"> </td>      </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeIDocH">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>

                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexIDocH() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>

                    </div>

                    <div class="col-md-5">
                        <div class="form-inline pull-left">
                            <label>تعداد کل رکورد ها</label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>

                            <label>نمایش</label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0">100 رکورد آخر</option>
                                    <option value="3">تمام رکوردها</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Move" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a id=""></a>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a class="active show" data-toggle="tab" href="#home" style="padding-left: 20px;padding-right: 20px;">پر کردن</a>
                    </li>
                    <li id="TabMove" hidden>
                        <a data-toggle="tab" href="#menu1" style="padding-left: 20px;padding-right: 20px;">انتقال</a>
                    </li>
                </ul>




                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                        <br />
                        <p class="modal-title" id="titlePor"></p>
                        <br />

                        <div id="modeListPor">

                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <br />
                        <p class="modal-title" id="titleMove"></p>
                        <br />

                        <select id="modeCodeMove"></select>
                    </div>
                </div>




                <br />
                <br />
                <div class="row">
                    <select id="invSelectMove" data-bind="options: InvList,
                                       optionsText: function(item) {return item.Name},
                                       value: InvCodeMove,
                                       optionsValue: 'Code'"></select>
                </div>

            </div>

            <br />
            <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                <button type="button" id="Move" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                    تایید
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                    انصراف
                </button>
            </div>

        </div>

    </div>
</div>




@section scripts{
    <script type="text/javascript">
        sessionStorage.urlIDocH = '@Url.Action("AddIdoc", "AFISanadAnbar")';
    </script>
    <script src="~/Scripts/AFIIndexSanadAnbar.js?dt=@(DateTime.Now.Ticks)"></script>
}


