@using WebKarbord.Controllers.Unit;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2><strong>لیست <b id="TitleListAnbar"></b></strong></h2>
                <div class="row header-dropdown m-r--5">
                    <a id="Print" style="margin-left: 10px;">
                        <img src="/Content/img/sanad/streamline-icon-print-text@48x48.png" width="20" height="20">
                    </a>
                    <a id="SettingColumn" class="">
                        <img src="~/Content/img/sanad/list-add.png" width="20" height="20" style="margin-left: 10px;" class="dropdown-toggle" data-toggle="modal" data-target="#modal-SettingColumn" />
                    </a>
                    <a id="refreshIdocH" class="">
                        <img src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                    </a>
                    <a id="AddNewSanadAnbar" class="">
                        <img src="~/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20" />
                    </a>

                </div>
            </div>
            <br />
            <div class="body">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-inline">
                            <label>انبار</label>
                            <div class="col-md-10" style="text-align: center;">
                                <select id="invSelect" data-bind="options: InvList,
                                       optionsText: function(item) {return item.Name},
                                       optionsValue: 'Code',
                                       value: InvCode,
                                       optionsCaption: OptionsCaptionAnbar(),
                                       event:{ change: $root.PageCountView}"></select>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                         <div class="input-group">
                             <div class="form-group form-float">
                                 <div class="form-line">
                                     <input data-bind="value: filterIDocH, valueUpdate: 'afterkeydown'" id="searchIDocH" class="form-control" />
                                     <label class="form-label">عنوان جستجو را وارد کنید</label>
                                 </div>
                                 <div class="help-info"><label id="allSearchIDocHText">جستجو بر اساس همه موارد</label></div>
                             </div>
                             <div class="input-group-addon">
                                 <label class="form-check-label">
                                     <input class="form-check-input" id="allSearchIDocH" type="checkbox" value="" checked>
                                     <span class="form-check-sign">
                                         <span class="check"></span>
                                     </span>
                                 </label>
                             </div>
                         </div>
                     </div> -->

                </div>
                <br />

                <div id="TableList" style="height:400px;overflow:auto;border: 1px #ddd solid;" class="table-responsive-md">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label>نمایش</label>
                            <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizeIDocH">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label>رکورد در هر صفحه</label>
                        </div>
                    </div>

                    <div class="col-md-3" style="text-align: center; margin-top: 10px;">
                        <a data-bind="click: firstPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                        </a>
                        <a data-bind="click: previousPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <b data-bind="text: currentPageIndexIDocH() + 1" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                        <a data-bind="click: nextPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                        </a>
                        <a data-bind="click: lastPageIDocH">
                            <img src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                        </a>

                    </div>

                    <div class="col-md-5">
                        <div class="form-inline pull-left">
                            <label>تعداد کل رکورد ها</label>
                            <label id="CountRecord" style="margin: 5px; margin-left: 20px;"></label>

                            <label>نمایش</label>
                            <div>
                                <select id="pageCountSelector" class="selectorange" data-bind="event:{ change: $root.PageCountView}">
                                    <option value="0">100 رکورد آخر</option>
                                    <option value="3">تمام رکوردها</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-SettingColumn" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">تنظیم ستون ها</h4>
                <a id=""></a>
            </div>
            <div class="modal-body">
                <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    <table class="table table-addmin">
                        <thead style="cursor: pointer;">
                            <tr>
                                <td>ردیف</td>
                                <td style="width:250px;"> نام ستون</td>
                                <td style="text-align: left;padding: 0px 10px 0px 10px;">
                                    <label for="AllSettingColumns">انتخاب همه</label>
                                    <input id="AllSettingColumns" type="checkbox" />
                                </td>
                            </tr>
                        </thead>
                        <tbody id="TableColumn"></tbody>
                    </table>
                </div>
            </div>
            <div style="padding: 0px; margin: 10px;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" id="DefultColumn" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            پیش فرض
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SaveColumns" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                            تایید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-Move" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a id=""></a>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a class="active show" data-toggle="tab" href="#home" style="padding-left: 20px;padding-right: 20px;">پر کردن</a>
                    </li>
                    <li id="TabMove" hidden>
                        <a data-toggle="tab" href="#menu1" style="padding-left: 20px;padding-right: 20px;">انتقال</a>
                    </li>
                </ul>




                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                        <br />
                        <p class="modal-title" id="titlePor"></p>
                        <br />

                        <div id="modeListPor">

                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <br />
                        <p class="modal-title" id="titleMove"></p>
                        <br />

                        <select id="modeCodeMove"></select>
                    </div>
                </div>




                <br />
                <br />
                <div class="row">
                    <select id="invSelectMove" data-bind="options: InvList,
                                       optionsText: function(item) {return item.Name},
                                       optionsValue: 'Code'"></select>
                </div>

            </div>

            <br />
            <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                <button type="button" id="Move" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                    تایید
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;">
                    انصراف
                </button>
            </div>

        </div>

    </div>
</div>




@section scripts{
    <script type="text/javascript">
        sessionStorage.urlIDocH = '@Url.Action("AddIdoc", "AFISanadAnbar")';
    </script>
    <script src="~/Scripts/AFIIndexSanadAnbar.js"></script>
}


